<div class="step-training-phases-container">
    <div class="title">
      <h3>Training Phases</h3>
      <p>Define and manage the phases in this training</p>
    </div>

    <app-speed-graph
      [vertices]="verticesData.velInterpMs"
      [highlightedRange]="highlightedRange"
      [timeDuration]="verticesData.timeDtMs"
      [startTime]="verticesData.startTimeInterpMs"
      [plotBands]="plotBands">
    </app-speed-graph>

    <app-phases-cards-container (teamEventPhasesEmitter)="onTrainingPhasesEmitter($event)" [cards]="stepTrainingPhasesData?.phasesList"></app-phases-cards-container>

    <div class="step-footer">
        <button class="step-back-btn" mat-button (click)="backStep()">back</button>
        <button class="step-submit-btn" mat-raised-button (click)="nextStep()" [disabled]="isNextBtnDisabled">validate</button>
    </div>
</div>
