<div class="step-match-formations-container">
    <div class="container">
        <div class="heading">Starting Formations</div>
        <div class="content">
			<app-formation-selection
				[positions]="positions"
                [tabs]="playersData"
                [tactics]="tactics"
				[definedSubs]="definedSubs"
                (formationSelectionEmitter)="onFormationSelectionEmitter($event)"
                (onSelectTactic)="selectTactic($event)"
                (onSelectDefinedSub)="selectDefinedSub($event)">
            </app-formation-selection>

            <div class="buffer"></div>

			<app-formation-field
				[formationTemplate]="selectedFormation"
				[formation]="formationData"
				[playersData]="playersData"
				[participatingPlayers]="participatingPlayers"
				(updateValidationStatus)="checkValidation($event)"
                (formationFieldEmitter)="onFormationFieldEmitter($event)">
            </app-formation-field>
        </div>
    </div>
</div>
