@import '../../../styles/variables';

:host {
    .validated-events-container {
        // padding: 0 20px;
        padding-top: 40px;
        display: none;
        height: 500px;
        // width: 90%;
        // margin: 0 auto;

        @media (max-width: $media-query-sm) {
            display: block;
        }
    }

}