<div class="validated-events-container">
    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
      <!-- <cdk-virtual-scroll-viewport itemSize="260" style="height: 90vh; width: 90vw; margin: 0 auto;">
        <app-event *cdkVirtualFor="let teamEvent of teamEvents"
            [@fadeInOut]
            [eventIndex]="index" 
            (editSessionEmitter)="onEditSession($event)"
            (deleteSessionEmitter)="onDeleteSession($event)"
            (downloadPdfReportEmitter)="onDownloadPdfReport($event)" 
            [eventData]="teamEvent">
        </app-event>
      </cdk-virtual-scroll-viewport> -->
      <app-event *ngFor="let teamEvent of teamEvents"
          [@fadeInOut]
          [eventIndex]="index" 
          (editSessionEmitter)="onEditSession($event)"
          (deleteSessionEmitter)="onDeleteSession($event)"
          (downloadPdfReportEmitter)="onDownloadPdfReport($event)" 
          [eventData]="teamEvent">
      </app-event>
    </div>
</div>
