<div class="user-login-container">
    <div class="login-head">
        <h3>{{ 'auth.user-login.title' | translate }}</h3>
    </div>
    <div class="form-container">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        
        <form [formGroup]="userLoginFormGroup" (submit)="onLogin()" *ngIf="!isLoading">
            <mat-form-field>
                <mat-label>{{ 'auth.enter-email-address' | translate }}</mat-label>
                <input matInput type="email" formControlName="emailText">
                <mat-error *ngIf="userLoginFormGroup.get('emailText').invalid">{{ 'auth.invalid-email' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'auth.enter-password' | translate }}</mat-label>
                <input id="password1" matInput type="password" formControlName="passwordText" showHideInput>
                <i class="material-icons" matSuffix showHideTrigger="password1" [showHideStatus]="{ materialIcon: true, id: 'password1' }"></i>
                <mat-error *ngIf="userLoginFormGroup.get('passwordText').invalid">{{ 'auth.incorrect-password' | translate }}</mat-error>
            </mat-form-field>
        
            <button color="primary" [disabled]="!userLoginFormGroup.valid" class="login-button" *ngIf="!isLoading" type="submit" mat-raised-button>
                {{ 'auth.user-login.user-login-button' | translate }}
            </button>
        </form>
    </div>
    <div class="auth-links">
        <a (click)="loginMode('forgot-password')">
            {{ 'auth.user-login.forgot-password-link' | translate }}
        </a>
        <!-- <a (click)="loginMode('reset-password')">
            {{ 'auth.user-login.reset-password-link' | translate }}
        </a>
        <a (click)="loginMode('email-sent')">
            {{ 'auth.user-login.email-sent-link' | translate }}
        </a> -->
    </div>
</div>
