@import '../../../styles/variables';
@import '~swiper/dist/css/swiper.min.css';

:host {
    .overview-content-events {
        background-color: $color-purple;
        color: #fff;
        padding: 20px;
        padding-bottom: 0; // the swiper lib adds 20px padding
        border-bottom: 1px solid #a7a7a7;
        box-shadow: -4.9px 7.5px 40px 0 rgba(53, 61, 86, 0.3);
        // width: 900px;
        // margin: 0 auto;
        // display: flex;

        @media (max-width: $media-query-sm) {
          // display: flex;
          // flex-direction: column;
        }

        .events-container {
          display: flex;

          @media (max-width: $media-query-sm) {
            flex-direction: column;
          }

          .events-into-text {
            width: 220px;
            padding-right: 10px;
            // color: #616161;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;

            @media (max-width: $media-query-sm) {
              width: 100%;
              // display: flex;
              flex-direction: row;
            }

            .text-section {
              @media (max-width: $media-query-sm) {
                width: 70%;
                padding-right: 5px;
              }

              h3 {
                margin: 0;
                text-transform: capitalize;
              }
  
              p {
                margin-top: 10px;
              }
            }

            .notification-section {
              @media (max-width: $media-query-sm) {
                width: 30%;
              }

              .notification-bubble {
                width: 89px;
                width: 80px;
                background: #bab5bb;
                color: $color-purple;
                text-transform: uppercase;
                border-radius: 15px;
                border-bottom-left-radius: 0;
                // margin: 0 auto 40px;
                // max-width: 400px;
                padding: 15px;
                position: relative;
                margin-bottom: 30px;

                @media (max-width: $media-query-sm) {
                  // margin: 0 10px;
                  // margin-left: 20px;
                  // margin-right: 20px;
                }

                &::after {
                    border-right: 20px solid transparent;
                    border-top: 20px solid #bab5bb;
                    bottom: -20px;
                    content: "";
                    position: absolute;
                    left: 0;
                }
              }
            }
          }

          .swiper-container {
              // width: 100%;
              width: calc(100% - 220px);

              @media (max-width: $media-query-sm) {
                width: 100%;
              }
          }

          // display: flex;
          // justify-content: space-between;

          // @media (max-width: $media-query-sm) {
          //   overflow: hidden;
          // }

          // .swiper-pagination-bullet {
          //   bottom: -10px !important;
          // }
          // .swiper-pagination {
          //   display: flex;
          // }
        }
    }
}