
<mat-spinner *ngIf="!teamEvents"></mat-spinner>

<div class="overview-content-events" *ngIf="teamEvents.length > 0 && teamEvents">
    <div class="events-container">
        <div class="events-into-text">
            <div class="text-section">
                <h3>{{ 'team-overview.events-carousel.title' | translate:{'eventsNumber':teamEvents.length} }}</h3>
                <p>{{ 'team-overview.events-carousel.sub-title' | translate }}</p>
            </div>
            <div class="notification-section">
                <div class="notification-bubble">
                    {{ teamEvents.length }} New sessions
                </div>
            </div>
        </div>

        <list-content-loader *ngIf="isTeamEventsLoading"></list-content-loader>
        <!-- <mat-spinner *ngIf="isTeamEventsLoading"></mat-spinner> -->

        <swiper *ngIf="!isTeamEventsLoading"
            class="swiper-container" 
            [config]="config"
            [(index)]="index">

            <app-event *ngFor="let teamEvent of teamEvents"
                [@fadeInOut]
                [eventIndex]="index" 
                (confirmSessionEmitter)="onConfirmSession($event)"
                (convertSessionEmitter)="onConvertSession($event)"
                (deleteSessionEmitter)="onDeleteSession($event)" 
                [eventData]="teamEvent">
            </app-event>
        </swiper>
    </div>
</div>