@import '../../../styles/variables';
@import '~@angular/material/theming';

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  width: 400px;
  height: 100vh;
  padding: 35px;
  text-align: center;
  background-color: #fff;
  @include mat-elevation(2);

  @media (max-width: $media-query-xs) {
    width: 80%;
  }

  .login-header {
    .logo {
      margin-top: 40px;
      margin-bottom: 20px;
  
      img {
        width: 200px;
      }
    }
  }
  
  .login-content {
    margin-bottom: 32px;
  }
  
  .login-footer {
    padding-bottom: 30px;

    .login-bottom {
      text-align: center;

      .app-version {
        font-size: 12px;
        margin-bottom: 12px;
      }
  
      .copyrights {
        font-size: 14px;
      }
  
      .privacy {
        font-size: 13px;
      }
    }
  }
}







// .forgot-password-container {

//   .login-head {

//   }

//   .form-container {

//     .forgot-password-card {
//         width: 300px;
//         min-width: 300px;
//         // height: 350px;
//         height: 220px;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         @media (max-width: $media-query-xs) {
//           // width: 300px;
//         }

//         mat-form-field {
//           width: 100%;
//         }
      
//         mat-spinner {
//           margin: auto;
//         }
      
//         .login-button {
//           width: 100%;
//           margin-top: 8px;
//         }
      
//     }

//   }
// }

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     background-color: white;
     border-radius: 0; 
  }
  // mat-form-field {
  //    .mat-hint, input, ::placeholder, .mat-form-field-label {
  //     // background-color: white;
  //   }
  // }
}
