<div class="container">
	<div class="title">
		<h3>Participating Players - {{activePlayers}}/{{allPlayers.length}}</h3>
		<p *ngIf="!allPlayers.length">No participating players found</p>
	</div>
	<div class="content" *ngIf="allPlayers.length">
		<app-participating-column
			[players]="allPlayers"
			[actionName]="'Exclude'"
			[isSwapAllowed]="true"
			[isResetAllowed]="true"
			(excludePlayer)="doExcludePlayer($event)"
			(resetChanges)="doResetChanges($event, true)"
			(openSummaryPanel)="openSwapPlayersPanel($event)"></app-participating-column>
		<div class="buffer"></div>
		<app-participating-column
			[players]="allPlayers"
			[actionName]="'Include'"
			[isSwapAllowed]="false"
			[isResetAllowed]="false"
			(excludePlayer)="doIncludePlayer($event)"
			(resetChanges)="doResetChanges($event, false)"></app-participating-column>
	</div>
	<div class="details-content" [hidden]="!currentPlayer" #swapPlayersPanel>
		<div>
			<app-swap-players [clubPlayers]="clubPlayersGroup" (swapPlayer)="doSwapPlayer($event, true)" [currentPlayer]="currentPlayer" [isIncluded]="isIncluded"></app-swap-players>
		</div>
	</div>
	<div *ngIf="allPlayers.length" (click)="openDialog()" class="contact-support-button">
		Contact Support
	</div>
</div>
