<div class="container">
	<div class="heading">
		<div>Participating Players - 19/20</div>
		<div class="sub-title">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed  sit amet, consectrtur
		</div>
	</div>
	<div class="content">
		<app-participating-column
			[players]="includedPlayers"
			[actionName]="'Exclude'"
			(excludePlayer)="doExcludePlayer($event)"></app-participating-column>
		<div class="buffer"></div>
		<app-participating-column
			[players]="excludedPlayers"
			[actionName]="'Include'"
			(excludePlayer)="doIncludePlayer($event)"></app-participating-column>
	</div>
</div>
