
.icon-field:before { content: '\e800'; } /* '' */
.icon-field-lines:before { content: '\e801'; } /* '' */
.icon-field-stripes:before { content: '\e802'; } /* '' */
.icon-icon-open-single:before { content: '\e803'; } /* '' */
.icon-player-shirt:before { content: '\e804'; } /* '' */
.icon-player-shirt-selected:before { content: '\e805'; } /* '' */
.icon-reset-icon:before { content: '\e806'; } /* '' */
.icon-swap-icon:before { content: '\e807'; } /* '' */
.icon-swap-shirts:before { content: '\e808'; } /* '' */
.icon-swap-shirts-highlight:before { content: '\e809'; } /* '' */
.icon-close-icon:before { content: '\e80a'; } /* '' */
.icon-error-icon:before { content: '\e80b'; } /* '' */
.icon-expand-arrow:before { content: '\e80c'; } /* '' */
.icon-bg-l-og-o:before { content: '\e80d'; } /* '' */
.icon-pm-logo:before { content: '\e80e'; } /* '' */
.icon-overview:before { content: '\e810'; } /* '' */
.icon-pie:before { content: '\e811'; } /* '' */
.icon-settings:before { content: '\e812'; } /* '' */
.icon-shirt:before { content: '\e813'; } /* '' */
.icon-vlc:before { content: '\e814'; } /* '' */
.icon-vlc-new:before { content: '\e815'; } /* '' */
.icon-calender:before { content: '\e816'; } /* '' */
.icon-info-1:before { content: '\e817'; } /* '' */
.icon-invalid-name:before { content: '\e818'; } /* '' */
.icon-lock:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-error-icon-1:before { content: '\e81b'; } /* '' */
.icon-info:before { content: '\e81c'; } /* '' */
.icon-invalid-name-1:before { content: '\e81d'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */
.icon-more-info-icon:before { content: '\e81f'; } /* '' */
.icon-open:before { content: '\e820'; } /* '' */
.icon-pdf-icon:before { content: '\e821'; } /* '' */
.icon-preferences-icon:before { content: '\e822'; } /* '' */
.icon-reset:before { content: '\e823'; } /* '' */
.icon-search-icon:before { content: '\e824'; } /* '' */
.icon-shirt-1:before { content: '\e825'; } /* '' */
.icon-soccer-ball:before { content: '\e826'; } /* '' */
.icon-v-icon:before { content: '\e827'; } /* '' */
.icon-x:before { content: '\e828'; } /* '' */
.icon-3-dot:before { content: '\e829'; } /* '' */
.icon-convert-team-event:before { content: '\e82a'; } /* '' */
.icon-delete:before { content: '\e82b'; } /* '' */
.icon-duplicate:before { content: '\e82c'; } /* '' */
.icon-edit:before { content: '\e82d'; } /* '' */
.icon-flag-china-new:before { content: '\e82e'; } /* '' */
.icon-flag-spanish-new:before { content: '\e830'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */