@font-face {
  font-family: 'pm';
  src: url('../font/pm.eot?4523459');
  src: url('../font/pm.eot?4523459#iefix') format('embedded-opentype'),
       url('../font/pm.woff2?4523459') format('woff2'),
       url('../font/pm.woff?4523459') format('woff'),
       url('../font/pm.ttf?4523459') format('truetype'),
       url('../font/pm.svg?4523459#pm') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pm';
    src: url('../font/pm.svg?4523459#pm') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pm";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-field:before { content: '\e800'; } /* '' */
.icon-field-lines:before { content: '\e801'; } /* '' */
.icon-field-stripes:before { content: '\e802'; } /* '' */
.icon-icon-open-single:before { content: '\e803'; } /* '' */
.icon-player-shirt:before { content: '\e804'; } /* '' */
.icon-player-shirt-selected:before { content: '\e805'; } /* '' */
.icon-reset-icon:before { content: '\e806'; } /* '' */
.icon-swap-icon:before { content: '\e807'; } /* '' */
.icon-swap-shirts:before { content: '\e808'; } /* '' */
.icon-swap-shirts-highlight:before { content: '\e809'; } /* '' */
.icon-close-icon:before { content: '\e80a'; } /* '' */
.icon-error-icon:before { content: '\e80b'; } /* '' */
.icon-expand-arrow:before { content: '\e80c'; } /* '' */
.icon-bg-l-og-o:before { content: '\e80d'; } /* '' */
.icon-pm-logo:before { content: '\e80e'; } /* '' */
.icon-overview:before { content: '\e810'; } /* '' */
.icon-pie:before { content: '\e811'; } /* '' */
.icon-settings:before { content: '\e812'; } /* '' */
.icon-shirt:before { content: '\e813'; } /* '' */
.icon-vlc:before { content: '\e814'; } /* '' */
.icon-vlc-new:before { content: '\e815'; } /* '' */
.icon-calender:before { content: '\e816'; } /* '' */
.icon-info-1:before { content: '\e817'; } /* '' */
.icon-invalid-name:before { content: '\e818'; } /* '' */
.icon-lock:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-error-icon-1:before { content: '\e81b'; } /* '' */
.icon-info:before { content: '\e81c'; } /* '' */
.icon-invalid-name-1:before { content: '\e81d'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */
.icon-more-info-icon:before { content: '\e81f'; } /* '' */
.icon-open:before { content: '\e820'; } /* '' */
.icon-pdf-icon:before { content: '\e821'; } /* '' */
.icon-preferences-icon:before { content: '\e822'; } /* '' */
.icon-reset:before { content: '\e823'; } /* '' */
.icon-search-icon:before { content: '\e824'; } /* '' */
.icon-shirt-1:before { content: '\e825'; } /* '' */
.icon-soccer-ball:before { content: '\e826'; } /* '' */
.icon-v-icon:before { content: '\e827'; } /* '' */
.icon-x:before { content: '\e828'; } /* '' */
.icon-3-dot:before { content: '\e829'; } /* '' */
.icon-convert-team-event:before { content: '\e82a'; } /* '' */
.icon-delete:before { content: '\e82b'; } /* '' */
.icon-duplicate:before { content: '\e82c'; } /* '' */
.icon-edit:before { content: '\e82d'; } /* '' */
.icon-flag-china-new:before { content: '\e82e'; } /* '' */
.icon-flag-spanish-new:before { content: '\e830'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */