<div class="card" (click)="phaseClicked()" *ngIf="phase?.id">
  <button mat-button [matMenuTriggerFor]="menu" class="ellipsis" (click)="$event.stopPropagation();">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let ellipsisOption of ellipsisOptions; let cardIndex = index"
      (click)="hundleEllipsisAction(ellipsisOption)"
    >
      <i class="demo-icon icon-delete">&#xe82b;</i>
      <!-- <i class="demo-icon icon-delete">{{ ellipsisOption.icon }}</i> -->
      {{ ellipsisOption.name }}
    </button>
  </mat-menu>

  <mat-icon class="card-icon">account_circle</mat-icon>

  <div class="card-title">
    {{ translateEnumNumber(phase.type) }}
  </div>

  <div class="card-time-details">
    {{ getTimeByFormat(phase.startTime, phase.endTime, phase.offset) }}
  </div>

  <div class="card-options">

    <div class="card-option">
      <!-- <div class="card-option" *ngFor="let option of phase.options"> -->
      <!-- <div class="card-option-key">{{ option.key }}</div>
            <div class="card-option-value" *ngIf="option.value">
              {{ option.value }}
            </div> -->

      <div class="card-option-key" *ngIf="mode === 'MATCH'">Phase Name</div>
      <div class="card-option-value" *ngIf="phase.name; else addButton">
        {{ phase.name }}
      </div>

      <!-- </div> -->
    </div>

    <div class="card-option">
      <div class="card-option-key" *ngIf="mode === 'MATCH'">Subs</div>
      <div class="card-option-value" *ngIf="phase.numberOfSubs; else addButton">
        {{ phase.numberOfSubs }}
      </div>
    </div>
  </div>
</div>

<ng-template #addButton>
  <div class="add-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10">
      <path
        fill="#CACACA"
        fill-rule="evenodd"
        d="M9 6H6v3c0 .386-.613 1-1 1s-1-.614-1-1V6H1c-.387 0-1-.613-1-1s.613-1 1-1h3V1c0-.387.613-1 1-1s1 .613 1 1v3h3c.386 0 1 .613 1 1s-.614 1-1 1z"
      />
    </svg>
  </div>
</ng-template>


<div class="card" (click)="phaseClicked()" *ngIf="!phase?.id">
  <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29">
    <path fill="#11CD69" fill-rule="evenodd" d="M17 13h-3v3c0 .386-.613 1-1 1s-1-.614-1-1v-3H9c-.387 0-1-.613-1-1s.613-1 1-1h3V8c0-.387.613-1 1-1s1 .613 1 1v3h3c.387 0 1 .613 1 1s-.613 1-1 1z"/>
  </svg>
  ADD PHASE
</div>
