@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
@import '../../../team-event-validation.mixins.scss';

:host {
    .container {
        display: grid;
        justify-content: center;
		padding: 20px;
		position: relative;

        .field-container {

            .field {
                display: grid;
                background-image: url("../../../../../assets/svg/formation/field-lines.svg"), url("../../../../../assets/svg/formation/field-stripes.svg"), url("../../../../../assets/svg/formation/field.svg");
                height: 100%;
				background-position: left top, 0 105px, 6px 3px;
				background-size: 380px 500px, contain, 368px 490px;
				background-repeat: no-repeat, no-repeat, no-repeat;
				width: 380px;
				height: 500px;

                > img {
                    grid-row-start: 1;
                    grid-column-end: 1;
                    width: 100%;
                    &:nth-child(2) {
                        height: 100%;
                    }
                }

                .players {
					display: grid;
					column-gap: 35px;
                    // grid-template-columns: repeat(9, 46.88px);// field columns = 9
                    // grid-template-columns: repeat(9, auto);// field columns = 9
                    grid-template-columns: repeat(9, 1fr);// field columns = 9
					grid-template-rows: repeat(6, 63.8px);
                    justify-items: center;
                    > * {
                        min-width: 0;
                    }

                    @media (max-width: $media-query-sm) {
						grid-template-columns: repeat(9, 2.5em);
						column-gap: 0;
                    }
                }

                @media (max-width: $media-query-sm) {
					background-size: 350px 500px, contain, 340px 490px;
					background-position: 4px top, 5px 105px, 10px 3px;
                }
            }

            @media (max-width: $media-query-sm) {
                width: 365px;
            }
        }
	}

	.swap-players-list {
		@include swap-players-list();
		width: 100%;
	}

	@include swap-players-panel();
}

