:host {
    .container {
        display: grid;
        justify-content: center;
        padding: 20px;

        .field-container {
            width: 360px;
            height: 535px;

            .field {
                display: grid;
                background-image: url("../../../../../assets/svg/formation/field-lines.svg"), url("../../../../../assets/svg/formation/field-stripes.svg"), url("../../../../../assets/svg/formation/field.svg");
                height: 100%;
                background-position: left top, 0 105px, 5px 2px;
                background-size: 361px 533px, contain, 348px 524px;
                background-repeat: no-repeat, no-repeat, no-repeat;

                img {
                    grid-row-start: 1;
                    grid-column-end: 1;
                    width: 100%;
                    &:nth-child(2) {
                        height: 100%;
                    }
                }

                .players {
                    display: grid;
                    grid-template-columns: repeat(7, 50px);
                    grid-template-rows: repeat(5, 80px);
                    justify-items: center;
                    align-items: center;
                }
            }
        }
    }
}
