<mat-accordion>
	<mat-expansion-panel
		*ngFor="let club of clubPlayers; trackBy: trackClubByFn; let isOpen = false"
		(opened)="isOpen = true"
		(closed)="isOpen = false"
		hideToggle="true"
		#matExpansionPanel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<img [ngClass]="{'expand-arrow': true, open: isOpen}" src="./assets/svg/expand-arrow.svg" alt="expansion arrow">
				{{club.name}}
			</mat-panel-title>
			<mat-panel-description>

			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-list>
			<div *ngFor="let playerPositionGroup of club.players; trackBy: trackPlayerGroupByFn">
				<div class="small-text">{{playerPositionGroup.name}}</div>
				<mat-list-item *ngFor="let player of playerPositionGroup.players; trackBy: trackPlayerByFn" [ngClass]="{disabled: isIncluded ? player.isParticipated : !player.isParticipated}" (click)="onSwapPlayer(player)" matRipple>
					<img class="avatar" [src]="player.profilePic" alt="player avatar">
					<div class="player-title">{{player.lastName}}.{{player.firstName[0]}}</div>
				</mat-list-item>
				<mat-divider></mat-divider>
			</div>
		  </mat-list>
	</mat-expansion-panel>
</mat-accordion>
