<mat-accordion>
	<!-- list of clubs, players. -->
	<!-- Players will be grouped by teams in the club -->
	<mat-expansion-panel
		*ngFor="let club of clubPlayers; let isOpen = false"
		(opened)="isOpen = true"
		(closed)="isOpen = false"
		hideToggle="true"
		#matExpansionPanel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<img [ngClass]="{'expand-arrow': true, open: isOpen}" src="./assets/svg/expand-arrow.svg" alt="expansion arrow">
				{{club.name}}
			</mat-panel-title>
			<mat-panel-description>

			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-list>
			<div *ngFor="let player of club.players">
				<mat-list-item [ngClass]="{disabled: player.isParticipated}" (click)="onSwapPlayer(player)" matRipple>
					<img class="avatar" [src]="player.avatarUrl" alt="player avatar">
					<div class="player-title">{{player.lastName}}.{{player.firstName[0]}} - {{player.positionName}}</div>
				</mat-list-item>
				<mat-divider></mat-divider>
			</div>
		  </mat-list>
	</mat-expansion-panel>
</mat-accordion>
