@import '../../../styles/variables';
@import '../../../styles/functions';

:host {
  // height: 100%;
  // width: 100%;

  mat-nav-list {
    width: 290px;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    height: 100vh;
    position: fixed;
    padding-top: 0; // overrids the default material top padding.
    border-right: 1px solid #acacac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $media-query-sm) {
      position: static;
      border-right: 0;
    }

    .active {
      // background-color: rgba(0, 0, 0, 0.2);
      color: #35083a;
      // padding: 30px 41px;
    }



    .navigation-wrapper {
      margin-top: $header-height; // for the header's placeholder

      @media (max-width: $media-query-sm) {
        margin-top: 0;
      }

      .test {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #cecece;
        margin: 15px;
        padding-bottom: 20px;

        .avatar {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          margin-right: 13px;
        }

        .user-info {
          .name-title {
            font-size: 22px;
          }

          .role-title {
            font-size: 16px;

          }
        }
      }
    }
    
    a {
      padding: 18px 20px;
      text-decoration: none;
      display: flex;
      // flex-direction: row;
    //   flex-direction: column;
    //   align-items: center;
      // padding: 15px;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      color: #cecece;

      &:first-child {
        margin-top: 35px;
      }

      // transition: .5s;

      // &:hover {
      //   background-color: rgba(3, 3, 3, 0.3);
      //   color: #fff; 
      // }
    }

    .nav-caption {
      margin-left: 10px;
      margin-right: 13px;
      padding-top: 10px;
    }

    .nav-badge {
      margin-left: auto;
    }
  }
}

.mat-badge-medium.mat-badge-after .mat-badge-content { //fix for the badge's -22px
  right: 0 ;
}