<div class="email-sent-container">
    <div class="login-head">
        <h3>{{ 'auth.email-sent.title' | translate }}</h3>
        <p>
            {{ 'auth.email-sent.sub-title1' | translate }}.<br>
            {{ 'auth.email-sent.sub-title2' | translate }} <a (click)="sendAgain()">{{ 'auth.email-sent.send-again' | translate }}</a>
        </p>
    </div>
    <div class="auth-links">
        <a (click)="loginMode('user-login')">
            {{ 'auth.general.go-back-to-login-link' | translate }}
        </a>
    </div>
</div>
