.match-phase-modal {
  .phase-name {
    display: flex;
    align-items: center;
    margin-bottom: 93px;

    .key {
      font-size: 14px;
      font-weight: 500;
      color: #8994a3;
      margin-right: 50px;
    }

    .value {
      font-size: 14px;
      font-weight: 500;
      color: #3d4762;
    }
  }

  .save-btn {
    width: 205px;
    height: 43px;
    object-fit: contain;
    border-radius: 21.5px;
    background-color: #11cd69;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: none;
  }
}
