<app-page-header [title]="'team overview'" [actions]="[1, 2, 3]"></app-page-header>

<div class="overview-content">
    <div class="overview-content-left">
        <div class="load-risk-container">
            <h3>{{ 'team-overview.load-risk.title' | translate }}</h3>
            <app-load-risk></app-load-risk>
        </div>

        <div class="performance-overtime-container">
            <h3>{{ 'team-overview.performance-overtime.title' | translate }}</h3>
            <app-performance-overtime></app-performance-overtime>
        </div>

        <div class="leaderboard-container">
            <h3>{{ 'team-overview.leader-board.title' | translate }}</h3>
            <div class="leaderboard-wrapper">
                <app-leader-board></app-leader-board>
                <app-leader-board></app-leader-board>
                <app-leader-board></app-leader-board>
            </div>
        </div>
    </div>

    <div class="overview-content-right">
        <div class="events-container">
            <h3>{{ 'team-overview.events.title' | translate }}</h3>
            <app-events></app-events>
            <app-events></app-events>
            <app-events></app-events>
            <app-events></app-events>
        </div>
    </div>
</div>
    