@import '../../styles/variables';

:host {
  // width: 1000px;

  .overview-header {
    border-bottom: solid 1px #a7a7a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    h2 {
      padding-left: 15px;
    }

    .overview-actions {
      .mat-button {
        min-width: 14px;
        padding: 0 10px;
        margin-right: 10px;
        border: solid 1px #555;
      }
    }
  }

  .overview-content {
    // padding: 15px;
    display: flex;
    height: 100vh;

    @media (max-width: $media-query-xs) {
      flex-direction: column;
    }

    .overview-content-left {
      width: 80%;
      // border-right: solid 1px #555;
      padding: 20px;

      @media (max-width: $media-query-xs) {
        border-right: 0;
        width: 90%;
        padding: 0 auto;
      }

      .load-risk-container {
        // background-color: #fff;
        // padding: 15px;
        // margin: 25px 15px;
      }

      .performance-overtime-container {
      }

      .leaderboard-container {
        .leaderboard-wrapper {
          display: flex;

          @media (max-width: $media-query-xs) {
            flex-direction: column;
          }
        }
      }
    }

    .overview-content-right {
      width: 20%;
      padding: 20px;

      @media (max-width: $media-query-xs) {
        width: 90%;
        padding: 0 auto;
      }

      .events-container {
      }
    }
  }
}
