@import '../../styles/variables';

:host {
  .page-container {
    .overview-content {
      // padding: 15px;
      display: flex;
      height: 100vh;
  
      @media (max-width: $media-query-sm) {
        flex-direction: column;
      }
  
      .overview-content-left {
        width: 75%;
        padding-left: 15px;
        // border-right: solid 1px #555;
        // padding: 20px;
  
        @media (max-width: $media-query-sm) {
          border-right: 0;
          width: 90%;
          padding: 0 auto;
          // order: 2;
        }
  
        .leaderboard-container {
          .leaderboard-wrapper {
            display: flex;
            justify-content: space-between;
  
            @media (max-width: $media-query-sm) {
              flex-direction: column;
            }
          }
        }
      }
  
      .overview-content-right {
        width: 25%;
        padding: 20px;
        padding-top: 0px;
  
        @media (max-width: $media-query-sm) {
          width: 90%;
          padding: 0 auto;
          padding-top: 0px;
          // order: 1;
        }
      }
    }
  }
}
