<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading" class="page-container">
    <app-page-header *ngIf="!isLoading" [pageTitle]="pageName"></app-page-header>

    <div class="overview-content">
        <div class="overview-content-events">
            <div class="events-container">
                <div class="events-into-text">
                    <h3>there are 3 new sessions</h3>
                    <p>Validate these session and get the most accurate and updated performance of your team:</p>
                    <!-- <button (click)="testAppend()">test Append</button> -->
                </div>

                <mat-spinner *ngIf="isTeamEventsLoading"></mat-spinner>

                <swiper *ngIf="!isTeamEventsLoading"
                    class="swiper-container" 
                    [config]="config" 
                    [(index)]="index"
                    [useSwiperClass]="">

                    <app-events *ngFor="let teamEvent of teamEvents"
                         [eventIndex]="index" 
                         (teamEventEmitter)="onTeamEventEmitter($event)" 
                         [eventData]="teamEvent">
                    </app-events>
                </swiper>
            </div>
        </div>

        <div class="overview-content-main">
            <div class="load-risk-container" *ngIf="isLoadRiskFeatureEnabled">
                <h3>{{ 'team-overview.load-risk.title' | translate }}</h3>
                <app-load-risk></app-load-risk>
            </div>
    
            <div class="performance-overtime-container" *ngIf="isPerformanceOvertimeFeatureEnabled">
                <h3>{{ 'team-overview.performance-overtime.title' | translate }}</h3>
                <app-performance-overtime></app-performance-overtime>
            </div>
    
            <div class="leaderboard-container" *ngIf="isLeaderBoardFeatureEnabled">
                <h3>{{ 'team-overview.leader-board.title' | translate }}</h3>
                <div class="leaderboard-wrapper">
                    <app-leader-board></app-leader-board>
                    <app-leader-board></app-leader-board>
                    <app-leader-board></app-leader-board>
                </div>
            </div>
        </div>
    </div>
</div>
