@import '../../../styles/variables';
@import '../../../styles/functions';

:host {
  .toolbar {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--headerBackground);
    color: var(--headerColor);
    z-index: 20;
    position: fixed;

    mat-toolbar-row {
      display: flex;
      justify-content: space-between;

      .mat-button {
        min-width: 14px;
        padding: 0 10px;
      }

      .toolbar-left {
        .hamburger-menu {
          display: none;
          // border-radius: 50%;

          @media (max-width: $media-query-sm) {
            // display: block;
            // display: none;
          }
        }
      }

      .logo {
        .logo-desktop {
          height: 35px;

          @media (max-width: $media-query-sm) {
            display: none;
          }
        }

        .logo-mobile {
          height: 35px;
          display: none;

          @media (max-width: $media-query-sm) {
            display: block;
          }
        }
      }

      .toolbar-right {
        @media (max-width: $media-query-sm) {
          display: none;
        }

        .actions {
          display: flex;
          flex-direction: row-reverse;

          mat-form-field {
            font-size: 13px;
          }
          
          .user-button-container {
            .user-button {
              height: 100%;
              // min-width: 72px;

              .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
          
              .name {
                margin: 0 8px 0 10px;
        
                @media (max-width: $media-query-sm) {
                  display: none;
                }
              }
          
              .icon {
                width: 16px;
                height: 16px;
                font-size: 16px;
                transform: rotate(0);
                transition: transform .25s cubic-bezier(.25,.8,.25,1);
        
                @media (max-width: $media-query-sm) {
                  display: none;
                }
              }


            }
          }

          .actions-divider {
            margin: 0 10px;
            
            @media (max-width: $media-query-sm) {
              display: none;
            }
          }

          .help-button {
            @media (max-width: $media-query-sm) {
              display: none;
            }
          }

          mat-form-field {
            @media (max-width: $media-query-sm) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.version-container {
  font-size: 13px;
  margin-top: 13px;
  padding: 15px;
  line-height: 2;
  // text-align: center;
}