<mat-toolbar *ngIf="isAuthenticated" class="toolbar">
    <div class="toolbar-container">
      <button mat-button class="hamburger-menu" (click)="onToggleSidenav()">
        <img src="./assets/svg/others/hamburger-logo.svg" alt="logo">
      </button>

      <div class="logo">
        <img src="./assets/img/logo-large.jpg" alt="logo" class="logo-desktop">
        <!-- <img src="./assets/img/logo.png" alt="logo" class="logo-mobile"> -->
      </div>
      
      <div class="toolbar-left">
          <app-team-picker-dropdown 
             [appearance]="'none'"
             [items]="teams"
             [dropdownWidth]="'220px'">
          </app-team-picker-dropdown>
      </div>

      <!-- <div class="logo">
          <img src="./assets/img/logo-large.jpg" alt="logo" class="logo-desktop">
          <img src="./assets/img/logo.png" alt="logo" class="logo-mobile">
      </div> -->

      <div class="toolbar-right">
          <div class="actions">

              <div class="">
                <button mat-button [matMenuTriggerFor]="appMenu" class="">
                  <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #appMenu="matMenu">
                    <button class="btn-menu" mat-menu-item disabled (click)="null">
                        <span>Support</span>
                    </button>
                    <button mat-menu-item disabled (click)="null">
                        <span>Contact us</span>
                    </button>
                    <button mat-menu-item disabled (click)="null">
                        <span>Send feedback</span>
                    </button>
                    <button mat-menu-item disabled (click)="null">
                        <span>About playermaker</span>
                    </button>
                </mat-menu>
              </div>

              <div class="user-button-container">
                <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                  <img class="avatar" [src]="userImgUrl || ''">
                  <span class="name">{{ userFirstName }} {{ userLastName }}</span>
                  <mat-icon class="icon">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu" class="user-menu">
                    <button mat-menu-item disabled (click)="null">
                      <i class="demo-icon">&#xe806;</i>
                      <span>Settings</span>
                    </button>
                    <button mat-menu-item disabled (click)="null">
                      <i class="demo-icon icon-overview">&#xe804;</i>
                      <span>Prefernces</span>
                    </button>
                    <button mat-menu-item (click)="onLogout()">
                      <i class="demo-icon icon-overview">&#xe804;</i>
                      <span>{{ 'layout.header.logout' | translate }}</span>
                    </button>
                </mat-menu>
              </div>
          </div>
      </div>
    </div>
</mat-toolbar>