@import '../../../styles/variables';

:host {
  .toolbar {
    background-color: #fff;

    mat-toolbar-row {
      display: flex;
      justify-content: space-between;

      .toolbar-left {
      }

      .logo {
        img {
          width: 200px;
        }
      }

      .toolbar-right {

        .actions {

          .username {
            @media (max-width: $media-query-xs) {
              display: none;
            }
          }

        }
      }
    }
  }
}
