@import '../../../styles/variables';
@import '../../../styles/functions';

:host {
  .toolbar {
    background-color: var(--headerBackground);
    color: var(--headerColor);
    z-index: 20;
    position: fixed;
    height: $header-height;
    box-shadow: 0 0 16px 0 rgba(53, 61, 86, 0.18);

    .toolbar-container {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      width: 100%;

      // .mat-button {
      //   min-width: 14px;
      //   padding: 0 10px;
      // }
      
      .hamburger-menu {
        display: none;
        // border-radius: 50%;

        @media (max-width: $media-query-sm) {
          display: block;
          // display: none;
        }
      }

      .logo {
        display: flex;
        align-items: center;

        .logo-desktop {
          // height: 35px;
          width: 150px;
          border-right: 2px solid #d8d8d8;
          padding-right: 15px;
          margin-right: 15px;

          @media (max-width: $media-query-sm) {
            display: none;
          }
        }

        // .logo-mobile {
        //   height: 35px;
        //   display: none;

        //   @media (max-width: $media-query-sm) {
        //     display: block;
        //   }
        // }
      }

      .toolbar-left {     
        // margin-left: auto;
   
        @media (max-width: $media-query-sm) {
          margin-left: auto;
        }
      }

      .toolbar-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        color: #8994a3;

        @media (max-width: $media-query-sm) {
          display: none;
        }

        .actions {
          display: flex;
          flex-direction: row-reverse;

          button {
            text-transform: capitalize;
          }

          mat-form-field {
            font-size: 13px;
          }
          
          .user-button-container {
            padding-right: 10px;

            .user-button {
              height: 100%;
              text-transform: capitalize;
              font-size: 16px;

              .avatar {
                width: 35px;
                height: 35px;
                border-radius: 50%;
              }
          
              span {
                color: #6d7680 !important;
              }

              .name {
                margin: 0 8px 0 10px;
                color: #6d7680 !important;
        
                @media (max-width: $media-query-sm) {
                  display: none;
                }
              }
          
              .icon {
                width: 16px;
                height: 16px;
                font-size: 16px;
                transform: rotate(0);
                transition: transform .25s cubic-bezier(.25,.8,.25,1);
        
                @media (max-width: $media-query-sm) {
                  display: none;
                }
              }


            }
          }

          mat-form-field {
            @media (max-width: $media-query-sm) {
              display: none;
            }
          }
        }
      }
    }
  }
}


::ng-deep .user-menu {
  i {
    margin-right: 10px !important;
  }

  span {
    text-transform: capitalize !important;
  }
}