<mat-card>
    <div class="event-header-container" *ngIf="true">
        <div class="event-header">
            <div class="header-title">
                <span *ngIf="!isConfirmed" class="status-bullet"><li></li></span>
                <h4>{{ eventData.created }}</h4>
            </div>
            <div class="header-actions">
                <button mat-icon-button [matMenuTriggerFor]="eventMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #eventMenu="matMenu">
                    <button mat-menu-item (click)="confirmSession(eventData.id)">
                        <mat-icon>assignment_turned_in</mat-icon>
                        <span>Confirm session</span>
                    </button>
                    <button mat-menu-item (click)="deleteSession(eventData.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete session</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <mat-card-content *ngIf="true">
        <div class="event-content">
            <div class="event-content-title">
                <mat-icon>sports_soccer</mat-icon>
                <h4 *ngIf="!isConfirmed">{{ eventData.title }}</h4>
                <h4 *ngIf="isConfirmed">{{ eventData.title }}</h4>
            </div>
            <div class="event-content-info">
                <div class="info-duration">
                    <div class="info-title">duration:</div>
                    {{ eventData.duration }}
                </div>
                <div class="info-players">
                    <div class="info-title">players:</div>
                    {{ eventData.players }}
                </div>
                <div class="info-phases">
                    <div class="info-title">phases:</div>
                    {{ eventData.phases }}
                </div>
            </div>
        
            <div *ngIf="!isConfirmed" class="event-content-confirm">
                <button class="confirm-button" mat-raised-button (click)="confirmSession()">CONFIRM SESSION</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>