@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  @include card;
  margin-bottom: 20px;
  flex-direction: column;

  .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;


    .header-title {
      font-size: 13px;
    }

    .header-actions {
      mat-icon {
        font-size: 20px;
      }
    }
  }

  .event-content {

    .event-content-title {
      display: flex;
      align-items: center;

      h4 {
        font-size: 17px;
        margin-left: 7px;
        font-weight: 300;
      }
    }

    .event-content-info {
      display: flex;
      justify-content: space-between;

      .info-title {
        font-size: 12px;
      }
    }

    .event-content-confirm {
      .confirm-button {
        width: 100%;
        margin-top: 20px;
        background-color: rgb(167, 167, 167);
        color: #fff;
      }
    }
  }
}
