@import '../../../styles/variables';

:host {
    .select {
        width: 93px;
        height: 23px;
        border-radius: 12.5px;
        border: solid 1px #80b89b;
        background-color: #82bd9e;
        align-self: baseline;
        display: flex;
        justify-content: center;
		align-items: center;
		font-size: 14px;
		text-align: center;
		color: #35083a;

        @media (max-width: $media-query-sm) {
            width: 65px;
        }
    }
}

::ng-deep {
    // .mat-select-panel {
    // mat-expansion-panel {
    .mat-select-panel-wrap {

        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: #939fac;
            border-radius: 1.5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #757f89;
        }
    }
}
