@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.toast-container{
    display: flex;
    align-items: center;
    // background-color: #fff;
    // opacity: 0.5;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border-top: 3px solid $color-purple;
    padding: 10px 15px;

    .toast-text {

    }
}