@import '../../../../styles/variables';

:host {
  text-align: center;
  
  .dialog-header {
    border-bottom: 1px solid #000;
    padding: 12px 0;
    color: #fff;
    background-color: #35083a;
  }

  .dialog-content {
    
  }

  .dialog-footer {
    button {
      margin: 0 auto;
    }
  }
}