@import '../../../styles/variables';
@import '../../../styles/functions';

:host {
  height: 100%;
  mat-nav-list {
    background-color: var(--navBackground);
    color: var(--navColor);
    height: 100vh;
    position: fixed;
    width: 250px;
    padding-top: 0; // overrids the default material top padding.
    border-right: 1px solid #acacac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $media-query-xs) {
      position: static;
      border-right: 0;
    }

    .active {
      background-color: rgba(3, 3, 3, 0.2);
      color: #fff;
    }

    .navigation-wrapper {
      margin-top: 64px; // for the header's placeholder

      @media (max-width: $media-query-xs) {
        margin-top: 0;
      }
    }

    .configuration-wrapper {
    }

    a {
      text-decoration: none;
      transition: .5s;
      color: var(--navColor);

      &:hover {
        background: #838282;
        color: var(--navColor);
      }
    }

    .nav-caption {
      margin-left: 10px;
      margin-right: 13px;
    }

    .nav-badge {
      // margin-left: auto;
    }
  }
}
