@import '../../../styles/variables';
@import '../../../styles/functions';

:host {
  // height: 100%;
  // width: 100%;

  mat-nav-list {
    width: $sidenav-width;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    height: 100vh;
    position: fixed;
    padding-top: 0; // overrids the default material top padding.
    border-right: 1px solid #acacac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $media-query-sm) {
      position: static;
      border-right: 0;
    }

    .active {
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
    }

    .navigation-wrapper {
      margin-top: $header-height; // for the header's placeholder

      @media (max-width: $media-query-sm) {
        margin-top: 0;
      }
    }
    
    a {
      text-decoration: none;
      display: flex;
      // flex-direction: row;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      text-align: center;
      // transition: .5s;

      // &:hover {
      //   background-color: rgba(3, 3, 3, 0.3);
      //   color: #fff; 
      // }
    }

    .nav-caption {
      margin-left: 10px;
      margin-right: 13px;
    }

    .nav-badge {
      margin-left: auto;
    }
  }
}

.mat-badge-medium.mat-badge-after .mat-badge-content { //fix for the badge's -22px
  right: 0 ;
}