<mat-nav-list *ngIf="isAuthenticated">
    <div class="navigation-wrapper">
        <a mat-list-item routerLink="/team-overview" routerLinkActive="active" (click)="onClose()">
          <mat-icon>home</mat-icon>
          <span class="nav-caption">Team Overview</span>
        </a>
    
        <mat-divider></mat-divider>
    
        <a mat-list-item routerLink="/training" routerLinkActive="active" (click)="onClose()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-caption">Training</span>
          <span class="nav-badge" matBadge="3" matBadgeOverlap="false"></span>
        </a>
        
        <mat-divider></mat-divider>
        
        <a mat-list-item routerLink="/matches" routerLinkActive="active" (click)="onClose()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-caption">Matches</span>
          <span class="nav-badge" matBadge="3" matBadgeOverlap="false"></span>
        </a>
        
        <mat-divider></mat-divider>
        
        <a mat-list-item routerLink="/players" routerLinkActive="active" (click)="onClose()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-caption">Players</span>
        </a>
        
        <mat-divider></mat-divider>
        
        <a mat-list-item routerLink="/notes" routerLinkActive="active" (click)="onClose()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-caption">Notes</span>
          <span class="nav-badge" matBadge="3" matBadgeOverlap="false"></span>
        </a>
    
        <mat-divider></mat-divider>
    
        <a mat-list-item routerLink="/reports" routerLinkActive="active" (click)="onClose()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-caption">Reports</span>
        </a>
    
        <mat-divider></mat-divider>
    </div>

    <div class="configuration-wrapper">
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/team-configuration" routerLinkActive="active" (click)="onClose()">
          <mat-icon>settings</mat-icon>
          <span class="nav-caption">Team Configuration</span>
        </a>
    </div>
  </mat-nav-list>
