<mat-nav-list *ngIf="isAuthenticated">
    <div class="navigation-wrapper">
        <a mat-list-item routerLink="/team-overview" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span class="nav-caption">{{ 'layout.sidenav.team-overview' | translate }}</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon>directions_run</mat-icon>
          <span class="nav-caption">{{ 'layout.sidenav.training' | translate }}</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon>sports_soccer</mat-icon>
          <span class="nav-caption">{{ 'layout.sidenav.matches' | translate }}</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon>people_alt</mat-icon>
          <span class="nav-caption">{{ 'layout.sidenav.players' | translate }}</span>
        </a>
        <mat-divider></mat-divider>
    </div>

    <div class="configuration-wrapper">
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon>settings</mat-icon>
          <span class="nav-caption">{{ 'layout.sidenav.team-configuration' | translate }}</span>
        </a>
    </div>
  </mat-nav-list>
