@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
  text-align: center;
  @include modal;

  .icon-error-icon {
    margin-right: 10px;
    color: $color-pink;
  }
}