@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
    .profile-container {
        mat-card {
            @include card;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;

            mat-card-content {
                display: flex;
                flex-direction: column;

                img {
                    width: 100px;
                    height: 100px;
                }
    
                .mat-radio-button ~ .mat-radio-button {
                    margin-left: 16px;
                }
            }
        }
    }
}