@import './variables';

// general ==========================================================
@mixin card() {
  display: flex;
  justify-content: center;
  background-color: var(--headerBackground);
  color: var(--headerColor);
}

@mixin button($background-color: $color-green) {
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  background-color: $background-color;
  color: white;
  text-transform: uppercase;
}

@mixin modal() {
  .modal-container {
    .dialog-header {
      border-top: 5px solid $color-purple;
      // border-bottom: 1px solid #000;
      // padding: 15px 0;
      padding: 5px 10px;
      color: #fff;
      // background-color: $color-purple;
      background-color: #f4f4f4;
      color: #3d4762;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 12px;
        // margin-left: 15px;
      }

      h2 {
        font-size: 18px;
        margin: 0;
      }
    }

    .dialog-content {
      padding: 0 20px;
      color: #96a1ae;
    }

    .dialog-footer {
      padding: 0 20px;

      button {
        background-color: $color-green;
        color: white;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100px;
        text-transform: uppercase;
        border-radius: 20px;
      }

      .btn-secondary {
        background-color: #b1b1b1 ;
        margin-right: 10px;
      }
    }
  }
}

// login page ==========================================================
@mixin login-card() {
  h3 {
    font-size: 26px;
    font-family: "Montserrat",  sans-serif;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }

  a {
    color: #334455;
    font-size: 17px;
    text-transform: capitalize;
  }

  .form-container {
    mat-spinner {
      margin: auto;
    }

    mat-form-field {
      width: 100%;
      margin-top: 15px;

      mat-label {
        text-transform: uppercase;
      }
    }
  }

  .auth-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    // text-align: center;

    mat-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}

@mixin login-button() {
  // background-color: #11cd69;
  color: #fff;
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 4px;
  // font-size: 30px;
  // height: 110px;
}


// Team Event Validation ==========================================================
@mixin team-event-container() {
  // width: 800px;
  background-color: #ffffff;
  // padding: 20px;
  // margin: 15px;
  border-radius: 10px;
  border-left: 4px solid #35083a;
  box-shadow: -4.9px 7.5px 50px 0 rgba(53, 61, 86, 0.1);
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  .loader-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;;
  }

  @media (max-width: $media-query-sm) {
    // width: 90%;
    // margin: 0 auto;
    // margin-top: 5px;
  }
}

@mixin team-event-step() {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .step-footer {
    border-top: 1px solid #cecece;
    display: flex;
    margin-bottom: 20px;
    // margin-top: auto;
    margin-top: 40px;
    padding: 15px 0;

    // bottom: 0;
    // position: fixed;
    // background-color: #fff;
    // z-index: 100;
    // width: 70%;

    // @media (max-width: $media-query-sm) {
    //   width: 90%;
    // }

    button {
      width: 205px;
      margin-top: 8px;
      padding: 0 5px;
      border-radius: 20px;
      text-transform: uppercase;

      &:first-child {
        margin-left: auto;
      }
    }

    .step-back-btn {
      margin-right: 12px;
      color: #828282;
    }

    .step-submit-btn {
      background-color: $color-green;
      color: white;
    }
  }
}

@mixin team-event-section() {
  text-align: center;
  // margin: 55px 0;

  h3 {
      font-size: 40px;
      margin: 35px 0 10px;
      text-transform: capitalize;
      color: #3d4762;

      @media (max-width: $media-query-sm) {
        font-size: 30px;
        margin: 20px 0 10px;
      }
  }

  p {
      font-size: 20px;
      color: #96a1ae;
      margin: 0;
      margin-bottom: 20px;

      @media (max-width: $media-query-sm) {
        font-size: 17px;
      }
  }
}


// Others ==========================================================
@mixin small-text {
  font-size: 14px;
  color: #96a1ae;
}

@mixin team-event-step-heading {
  color: #3d4762;
  font-size: 30px;
  text-align: center;
}

@mixin team-event-buffer {
  border-right: 1px dotted rgba(53, 61, 86, 0.3);
  border-top: 0;
}

@mixin team-event-step-container {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

@mixin  player-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

@mixin player-name-title {
	font-size: 16px;
	color: #3d4762;
	font-weight: 600;
}

@mixin custom-scroll {
	/* width */
	&::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: #939fac;
		border-radius: 1.5px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: #757f89;
	}

}

@mixin selectable-row($cursor: pointer) {
	cursor: $cursor;
	&:hover {
		background-color: rgba(0, 0, 0, 0.04);
	}
}

@mixin flex-row($align) {
	display: flex;
	flex-direction: row;
	align-items: $align;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin bold {
	color: #96a1ae;
	font-weight: 600;
}

@mixin light-text($fontSize: 12px) {
	color: #8994a3;
	font-size: $fontSize;
	font-weight: 500;
}
