@import './variables';

// general ==========================================================
@mixin card() {
  display: flex;
  justify-content: center;
  background-color: var(--headerBackground);
  color: var(--headerColor);
}

@mixin button() {
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  background-color: $color-purple;
  color: white;
  text-transform: uppercase;
}

@mixin modal() {
  .modal-container {
    .dialog-header {
      border-top: 5px solid $color-purple;
      // border-bottom: 1px solid #000;
      padding: 15px 0;
      color: #fff;
      // background-color: $color-purple;
      background-color: #f4f4f4;
      color: #3d4762;
    }
  
    .dialog-content {
      padding: 0 20px;
      color: #96a1ae;
    }
  
    .dialog-footer {
      button {
        background-color: $color-green;
        color: white;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 50%;
        text-transform: uppercase;
        border-radius: 20px;
      }
    }
  }
}

// login page ==========================================================
@mixin login-card() {
  h3 {
    font-size: 26px;
    font-family: "Montserrat",  sans-serif;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }
  
  a {
    color: #334455;
    font-size: 17px;
    text-transform: capitalize;
  }

  .form-container {
    mat-spinner {
      margin: auto;
    }

    mat-form-field {
      width: 100%;
      margin-top: 15px;

      mat-label {
        text-transform: uppercase;
      }
    }
  }

  .auth-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    // text-align: center;

    mat-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}

@mixin login-button() {
  // background-color: #11cd69;
  color: #fff;
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 4px;
  // font-size: 30px;
  // height: 110px;
}


// Team Event Validation ==========================================================
@mixin team-event-container() {
  width: 800px;
  background-color: #ffffff;
  padding: 25px;
  margin: 15px;
  border-radius: 10px;
  border-left: 4px solid #35083a;
  box-shadow: -4.9px 7.5px 50px 0 rgba(53, 61, 86, 0.1);

  @media (max-width: $media-query-sm) {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
  }
}

@mixin team-event-step() {
  min-height: 600px;
  display: flex;
  flex-direction: column;

  .step-footer {
    border-top: 1px solid #cecece;
    display: flex;
    margin: 20px 0;
    margin-top: auto;
    padding: 15px 0;

    button {
      width: 205px;
      margin-top: 8px;
      padding: 0 5px;
      border-radius: 20px;
      text-transform: uppercase;

      &:first-child {
        margin-left: auto;
      }
    }

    .step-back-btn {
      margin-right: 12px;
      color: #828282;
    }

    .step-submit-btn {
      background-color: $color-green;
      color: white;
    }
  }
}

@mixin team-event-section() {
  text-align: center;
  margin: 55px 0;

  h3 {
      font-size: 40px;
      margin: 35px 0 10px;
      text-transform: capitalize;
      color: #3d4762;
  }

  p {
      font-size: 20px;
      color: #96a1ae;
      margin: 0;
      margin-bottom: 20px;
  }
}