@import './variables';

// general ==========================================================
@mixin card() {
  display: flex;
  justify-content: center;
  background-color: var(--headerBackground);
  color: var(--headerColor);
}

@mixin button() {
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  background-color: $color-pink;
  color: white;
  text-transform: uppercase;
}


// login page ==========================================================
@mixin login-card() {
  h3 {
    font-size: 26px;
    font-family: "Montserrat",  sans-serif;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }
  
  a {
    color: #334455;
    font-size: 22px;
    // text-decoration: underline;
  }

  .form-container {
    mat-spinner {
      margin: auto;
    }

    mat-form-field {
      width: 100%;
      margin-top: 15px;

      mat-label {
        text-transform: uppercase;
      }
    }
  }

  .auth-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    // text-align: center;

    mat-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}

@mixin login-button() {
  background-color: #11cd69;
  color: #fff;
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 4px;
}