
// #d31c4c the actual color
$playermaker-primary-pink: (
    50 : #e7e1e7,
    100 : #c2b5c4,
    200 : #9a849d,
    300 : #725275,
    400 : #532d58,
    500 : #35083a,
    600 : #300734,
    700 : #28062c,
    800 : #220425,
    900 : #160218,
    A100 : #e558ff,
    A200 : #dd25ff,
    A400 : #cc00f1,
    A700 : #b600d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// #17142e the actual color
$playermaker-secondary-dark-blue: (
    50 : #e2f9ed,
    100 : #b8f0d2,
    200 : #88e6b4,
    300 : #58dc96,
    400 : #35d580,
    500 : #11cd69,
    600 : #0fc861,
    700 : #0cc156,
    800 : #0aba4c,
    900 : #05ae3b,
    A100 : #d9ffe3,
    A200 : #a6ffbd,
    A400 : #73ff97,
    A700 : #59ff84,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// #17142e the actual color
$playermaker-error-purple: (
    50 : #f7f0f0,
    100 : #ecd8d8,
    200 : #e0bfbf,
    300 : #d3a5a5,
    400 : #c99191,
    500 : #c07e7e,
    600 : #ba7676,
    700 : #b26b6b,
    800 : #aa6161,
    900 : #9c4e4e,
    A100 : #fffcfc,
    A200 : #ffc9c9,
    A400 : #ff9696,
    A700 : #ff7c7c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);