
// pass variables into a sass map ================
$variables: (
  --navColor: var(--navColor),
  --navBackground: var(--navBackground),
  --cardColor: var(--cardColor),
  --cardBackground: var(--cardBackground),
  --buttonColor: var(--buttonColor),
  --buttonBackground: var(--buttonBackground),
  --footerColor: var(--footerColor),
  --footerBackground: var(--footerBackground),
  --footerAlignment: var(--footerAlignment)
);



// pm app config ================
$header-height: 55px;

// pm app media queries ================
$media-query-xs: 414px; // 414px is the iphone 8 plus
$media-query-sm: 600px;
$media-query-md: 770px;
$media-query-lg: 1200px;

// pm app material colors ================
$color-primary: #ffffff;
$color-accent: #ffffff;
$color-warn: #ffffff;

// pm app colors ================
$color-pink: #a50740;
$color-purple: #17142e;
$background-color-light-grey: #484848;
$background-color-dark-grey: #353435;
