// pm app config ================
$header-height: 55px;

// pm app media queries ================
$media-query-xs: 414px; // 414px is the iphone 8 plus
$media-query-sm: 600px;
$media-query-md: 770px;
$media-query-lg: 1200px;

// pm app material colors ================
$color-primary: #ffffff;
$color-accent: #ffffff;
$color-warn: #ffffff;

// pm app colors ================
$color-pink: #d31c4c;
$background-color-light-grey: #484848;
$background-color-dark-grey: #353435;
