@import './variables';
@import './themes';
@import '~@angular/material/theming';

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
};

$pm-app-typography: mat-typography-config(
  $font-family: 'Montserrat'
);
@include mat-core($pm-app-typography);

$playermaker-theme: mat-light-theme(mat-palette($playermaker-primary-purple), mat-palette($playermaker-secondary-purple), mat-palette($playermaker-error-purple));
@include angular-material-theme($playermaker-theme);

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 6px !important;
};

.mat-snack-bar-container {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #ffffff;
  // background-color: #ffffff !important;
  background-color: rgba(233, 233, 233, 0.8);
}
