@import './variables';
@import './themes';
@import '~@angular/material/theming';

@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/Worksans.woff');
}
$pm-app-typography: mat-typography-config(
  $font-family: 'Work Sans'
);
@include mat-core($pm-app-typography);
$playermaker-theme: mat-light-theme(mat-palette($playermaker-primary-pink), mat-palette($playermaker-secondary-dark-blue));
@include angular-material-theme($playermaker-theme);

.mat-dialog-container {
  padding: 0 !important;
}
