@import './variables';
@import './themes';
@import '~@angular/material/theming';

$pm-app-typography: mat-typography-config(
  $font-family: 'Work Sans, Roboto'
);
@include mat-core($pm-app-typography);
$playermaker-theme: mat-light-theme(mat-palette($playermaker-primary-pink), mat-palette($playermaker-secondary-dark-blue));
@include angular-material-theme($playermaker-theme);

// $pm-app-primary: mat-palette($mat-pink, 700);
// // $pm-app-primary: mat-palette($mat-pink, A200, A100, A400);
// $pm-app-accent: mat-palette($mat-teal, 300);
// $pm-app-warn: mat-palette($mat-deep-orange);

// $pm-app-theme: mat-light-theme($pm-app-primary, $pm-app-accent, $pm-app-warn);
// @include angular-material-theme($pm-app-theme);

.mat-dialog-container {
  padding: 0 !important;
}
