<div class="physical-modal">
  <!--------------------- new-row ------------------------>
  <div class="row">
    <div class="row-title">Subject</div>
    <div class="row-content">Text</div>
  </div>
  <!------------------------------------------------------>


  <!--------------------- new-row ------------------------>
  <div class="row">
    <div class="row-title">Line Up</div>
    <div class="row-content">
        <!-- <mat-label>Toppings</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">
            {{
            topping
          }}
        </mat-option>
        </mat-select> -->
    </div>
  </div>
  <!------------------------------------------------------>


</div>
