@import '../../styles/mixins';

@mixin swap-players-panel {
	mat-expansion-panel {
		background-color: transparent;
		border-radius: 0 !important;
		border: 0;
		box-shadow: none !important;
		// border-bottom: 1px solid #939fac;

		&:first-of-type, &:last-of-type {
			border-bottom-right-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}

		.small-text {
			@include small-text;
		}

		mat-list-item {
			@include selectable-row(alias);
			.player-title {
				@include player-name-title();
			}

			&.disabled {
				pointer-events: none;
				.player-title {
					color: #cccccc;
				}
			}
		}

		mat-panel-title {
			font-size: 16px;
			color: #8994a3;
		}

		.expand-arrow {
			transform: rotate(180deg);
			width: 14px;
			height: 15px;
			margin-right: 10px;

			&.open {
				transform: rotate(0);
			}
		}

		.avatar {
			@include player-avatar();
			margin-right: 5px;
		}
	}
}

@mixin swap-players-list {
	position: absolute;
	left: -3px;
	height: 420px;
	width: 95%;
	background-color: #f4f4f4;
	z-index: 1001;
	padding: 5px;
	border: 1px solid #e0e3e5;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.05);
	animation: open .5s ease-in-out;
	overflow: auto;

	@include custom-scroll;

	> div {
		height: 100%;
		overflow: auto;
		@include custom-scroll();
	}

	.before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #f4f4f4;
		border-left: 8px solid transparent;
		position: absolute;
		top: -15px;
		left: 0;
	}
}

@mixin stepper-style {
	::ng-deep .mat-horizontal-stepper-header-container {
		display: grid !important;
		grid-auto-flow: column;
		grid-auto-columns: 70px 100px;
		justify-content: center;
		overflow: auto;
		@media (max-width: $media-query-sm) {
			justify-content: normal;
		}
		.mat-stepper-horizontal-line {
				border-top-width: 4px !important;
				margin: 0 -24px;
				max-width: 148px;
				min-width: 148px;
		}
		.mat-horizontal-stepper-header {
			display: grid;
			grid-auto-rows: 48px 20px;
			align-items: end;
			padding: 0;
			.mat-step-label {
				font-size: 0.6em;
				justify-self: center;
				min-width: unset;
			}
			.mat-step-icon {
				justify-self: center;
				margin: 0;
			}
			.mat-step-icon-content {
				visibility: hidden;
			}
			&[ng-reflect-state=edit] {
					+ .mat-stepper-horizontal-line {
							border-top-color: #35083a !important;
					}
			}
		}
	}

}
