<div *ngIf="isAuthenticated" class="footer-container mat-elevation-z5">
        <div class="nav-buttons-container">
          <a routerLink="/team-overview" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            <div class="nav-caption">{{ 'layout.mobile-nav.team-overview' | translate }}</div>
          </a>
          <a>
            <mat-icon>directions_run</mat-icon>
            <div class="nav-caption">{{ 'layout.mobile-nav.training' | translate }}</div>
          </a>
          <a>
            <mat-icon>directions_run</mat-icon>
            <div class="nav-caption">{{ 'layout.mobile-nav.matches' | translate }}</div>
          </a>
          <a>
            <mat-icon>people_alt</mat-icon>
            <div class="nav-caption">{{ 'layout.mobile-nav.players' | translate }}</div>
          </a>
          <a routerLink="/menu" routerLinkActive="active">
            <mat-icon>menu</mat-icon>
            <div class="nav-caption">menu</div>
          </a>
        </div>
  </div>