<div class="duration-container">
	<h3>training duration</h3>
	<p>
		Configure the sesssion duration by selecting the start and <br>
		time according to your team's speed activity
	</p>
	<div class="time-fields">
		<app-simple-time-picker
			[label]="'From'"
			[propName]="'startTime'"
			[maxPropName]="'endTime'"
			[(range)]="highlightedRange"
			(updateTime)="updateTime($event, 'startTime')">
		</app-simple-time-picker>
		<app-simple-time-picker
			[label]="'To'"
			[propName]="'endTime'"
			[maxPropName]="'startTime'"
			[(range)]="highlightedRange"
			(updateTime)="updateTime($event, 'endTime')">
		</app-simple-time-picker>
	</div>
	<app-speed-graph
		[vertices]="verticesData.velInterpMs"
		[highlightedRange]="{startTime: startTime, endTime: endTime}"
		[timeDuration]="verticesData.timeDtMs"
		[startTime]="verticesData.startTimeInterpMs" [plotBands]="[]"></app-speed-graph>
</div>