@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

:host {
    .duration-container {
        @include team-event-section;

		.time-fields {
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			justify-content: center;
		}
    }
}
