@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

:host {
    .duration-container {
        @include team-event-section;
        
		.time-fields {
			display: flex;
			align-items: center;
			justify-content: center;
			> div {
				display: grid;
				grid-auto-flow: column;
				align-items: center;
				margin: 0 10px;
			}
		}
    }
}
