@import '../../../styles/variables';

:host {
    mat-form-field {
        width: 220px;

        .dropdown-container {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
    }
}
