@import '../../../styles/variables';

:host {
    mat-form-field {
        width: 120px;
        min-width: 100px;
        max-width: 260px;

        .dropdown-container {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
    }
}

