<mat-form-field [appearance]="appearance">
  <div class="dropdown-container">
      <img [src]="selectedItemImgPath" style="vertical-align:middle; margin-right: 8px; width: 18px; height: 18px; border-radius: 50%;" />
      <mat-select [(value)]="defaultItem" (selectionChange)="useLanguage($event.value)">
        <mat-option *ngFor="let item of items" [value]="item.value">
            <img [src]="item.flag" style="vertical-align:middle; margin-right: 8px; width: 18px; height: 18px; border-radius: 50%;" />
            <span>{{ item.viewValue }}</span>
        </mat-option>
      </mat-select>
  </div>
</mat-form-field>