<mat-card>

    <div class="event-header-container">
        <div class="event-header">
            <!-- <div class="header-title">
                <span class="status-bullet"><li></li></span>
                <h4>{{ eventData.created }}</h4>
            </div> -->
            <div class="header-actions">
                <button mat-icon-button [matMenuTriggerFor]="eventMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #eventMenu="matMenu" class="event-card-menu">
                    <button *ngIf="!eventData.isValidated" mat-menu-item (click)="confirmSession()">
                        <mat-icon>assignment_turned_in</mat-icon>
                        <span>{{ 'team-overview.events-carousel.validate-session' | translate }} {{ teamEventTypeString }}</span>
                    </button>
                    <button *ngIf="!eventData.isValidated" mat-menu-item (click)="convertSession(eventData.id)">
                        <mat-icon>find_replace</mat-icon>
                        <span>{{ 'team-overview.events-carousel.toggle-event-type' | translate }} </span>
                        <span *ngIf="eventData.type === 1">match</span>
                        <span *ngIf="eventData.type === 2">training</span>
                    </button>
                    <button *ngIf="eventData.isValidated" mat-menu-item (click)="editSession()">
                        <mat-icon>delete</mat-icon>
                        <span>Edit Session</span>
                    </button>
                    <button mat-menu-item (click)="deleteSession(eventData.id)">
                        <mat-icon>delete</mat-icon>
                        <span>{{ 'team-overview.events-carousel.delete-session' | translate }}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <mat-card-content>

        <mat-spinner *ngIf="isPdfReportLoading"></mat-spinner>

        <div *ngIf="!isPdfReportLoading" class="event-content">
            <div class="event-content-header">
                <div class="event-content-title" [ngClass]="{'validated-event-style':eventData.isValidated}">
                    <i *ngIf="!eventData.isValidated" class="demo-icon icon-calender">&#xe809;</i> 
                    <h4 *ngIf="!eventData.isValidated" [ngClass]="{'validated-event-style':eventData.isValidated}">new {{ teamEventTypeString }}</h4>
                    <h4 *ngIf="eventData.isValidated" [ngClass]="{'validated-event-style':eventData.isValidated}">
                        <span *ngIf="eventData.type === 2">Match</span>
                        <span *ngIf="eventData.type === 1">Training Session</span>
                    </h4>
                </div>
                <div class="event-content-subtitle" [ngClass]="{'validated-event-style':eventData.isValidated}">
                    <span><span class="duration-time-ago">{{ durationTimeAgo }}</span>   {{ startTimeHoursFormatted }} - {{ endTimeHoursFormatted }}</span>
                </div>
            </div>
            
            <div class="event-content-info">
                <div class="info-titles">
                    <div>duration</div>
                    <div>players</div>
                    <div>phases</div>
                </div>

                <div class="info-content">
                    <div>{{ duration }} <span class="time-unit">Min</span></div>
                    <div>{{ eventData.validPlayersCount }}/{{ eventData.totalPlayersCount }}</div>
                    <div>{{ eventData.phasesCount }}</div>
                </div>

                <!-- <div class="info-duration">
                    <div class="info-title">{{ 'team-overview.events-carousel.duration' | translate }}:</div>
                    {{ eventData.duration }} min
                </div> -->
                <!-- <div class="info-players">
                    <div class="info-title">{{ 'team-overview.events-carousel.players' | translate }}:</div>
                    {{ eventData.valid_players }} / {{ eventData.activated_players }} 
                    <mat-icon *ngIf="eventData.valid_players !== eventData.activated_players">error_outline</mat-icon>
                </div>
                <div class="info-phases">
                    <div class="info-title">{{ 'team-overview.events-carousel.phases' | translate }}:</div>
                    {{ eventData.phases }}
                </div> -->
            </div>
        
            <div *ngIf="!eventData.isValidated" class="event-content-confirm">
                <button class="confirm-button" mat-raised-button (click)="confirmSession()">
                    {{ 'team-overview.events-carousel.validate-session' | translate }} {{ teamEventTypeString }}
                </button>
            </div>
            <div *ngIf="eventData.isValidated" class="event-content-buttons">
                <button class="action-btn" mat-button (click)="downloadPdfReport('teamReport')">
                    <i class="demo-icon icon-pdf-icon">&#xe80f;</i> 
                    <span>Team Report</span>
                </button>
                <button class="action-btn" mat-button (click)="downloadPdfReport('individualReport')">
                    <i class="demo-icon icon-pdf-icon">&#xe80f;</i> 
                    <span>Individual Report</span>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>