@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
  mat-card {
    // @include card;
    display: flex;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    margin-bottom: 20px;
    flex-direction: column;
    height: 210px;
    min-height: 210px;
    max-height: 210px;
    border-radius: 10px;

    .event-header-container {
      .event-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        width: 100%;
    
        .header-actions {
          mat-icon {
            font-size: 20px;
            color: #939fac;
          }
        }
      }
    }

    mat-card-content {
      .event-content {
        .event-content-header {
          .event-content-title {
            display: flex;
            justify-content: center;
            align-items: center;
    
            &.validated-event-style {
              justify-content: flex-start;
            }

            i {
              font-size: 34px;
            }
      
            h4 {
              color: #3d4762;
              font-size: 24px;
              margin: 0;
              font-size: 19px;
              margin-left: 7px;
              font-weight: 300;
              text-transform: uppercase;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              &.validated-event-style {
                font-size: 25px;
                padding-bottom: 12px;
              }
            }
          }
    
          .event-content-subtitle {
            text-align: center;
            color: #96a1ae;

            &.validated-event-style {
              text-align: left;
            }
          }
        }
    
        .event-content-info {
          // display: flex;
          // justify-content: space-between;
          padding-top: 15px;
  
          .info-titles {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #96a1ae;
            border-bottom: 1px solid #96a1ae;
            padding: 5px 0;
            color: #96a1ae;
            font-size: 12px;
            text-transform: capitalize;
          }
  
          .info-content {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            color: #3d4762;
            font-size: 24px;
            font-weight: 600;
  
            .time-unit {
              font-size: 12px;
            }
          }
    
          // .info-title {
          //   font-size: 12px;
          //   text-transform: uppercase;
          // }
  
          // mat-icon {
          //   font-size: 13px;
          //   color: red;
          // }
        }
    
        .event-content-confirm {
          .confirm-button {
            width: 100%;
            margin-top: 20px;
            background-color: $color-green;
            border-radius: 20px;
            color: #fff;
            text-transform: uppercase;
          }
        }
  
        .event-content-buttons {
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          margin-top: 25px;
  
          .action-btn {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
  
            i {
              font-size: 28px;
              color: $color-green;
            }
          }
        }
      }
    }
  }
}
