:host {
	.container {
		display: grid;
		grid-auto-rows: 70px;
		height: 80vh;
		overflow: auto;
		align-items: center;
		position: relative;

		/* width */
		&::-webkit-scrollbar {
			width: 4px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background-color: #939fac;
			border-radius: 1.5px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background-color: #757f89;
		}

		details {

			.details-content {
				position: absolute;
				height: 420px;
				width: 100%;
				background-color: #e6e9eb;
			}

			summary {
				display: grid;
				outline: none;
				align-items: center;
				grid-auto-flow: column;
				grid-template-columns: 50px 1fr 100px;
				padding: 4px;
				font-size: 16px;
				color: #3d4762;
				font-weight: 500;

				.avatar {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}

				.action-name {
					font-size: 16px;
					color: #8994a3;
					font-weight: 500;
				}

				// TODO: mixins
				.swap-shirts {
					&:hover {
						fill: #11cd69;
					}
				}

				&::-webkit-details-marker {
					display: none;
				}
			}
		}
	}
}
