:host {
	.container {
		display: grid;
		grid-auto-rows: 70px;
		height: 80vh;
		overflow: auto;
		align-items: center;
		position: relative;

		/* width */
		&::-webkit-scrollbar {
			width: 4px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background-color: #939fac;
			border-radius: 1.5px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background-color: #757f89;
		}

		details {

			.details-content {
				position: absolute;
				height: 420px;
				width: 98%;
				background-color: #f4f4f4;
				z-index: 1;
				padding: 5px;
				border: 1px solid #e0e3e5;
				border-radius: 5px;
				box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.05);

				&:before {
					content: "";
					display: block;
					width: 0;
  					height: 0;
					border-top: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #f4f4f4;
					border-left: 8px solid transparent;
					position: absolute;
					top: -15px;
					right: 135px;
				}
			}

			summary {
				display: grid;
				outline: none;
				align-items: center;
				grid-auto-flow: column;
				grid-template-columns: 50px 1fr 100px;
				padding: 4px;
				font-size: 16px;
				color: #3d4762;
				font-weight: 500;

				.avatar {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}

				.action-name {
					font-size: 16px;
					color: #8994a3;
					font-weight: 500;
				}

				.swap-shirts {
					mask: url("../../../../../assets/svg/swap-shirts.svg");
					height: 33px;
					width: 45px;
					background-color: #8994a3;
					cursor: pointer;

					&.open, &.highlighted, &.swapped {
						background-color: #11cd69;
						mask: url("../../../../../assets/svg/swap-shirts-highlight.svg");
					}

					&:hover:not(.open) {
						background-color: #0fb85e;
						mask: url("../../../../../assets/svg/swap-shirts-highlight.svg");
					}
				}

				&::-webkit-details-marker {
					display: none;
				}
			}
		}
	}
}
