@import '../styles/variables';
@import '../styles/functions';

:host { 
  mat-sidenav-container {
    width: 100%;
    height: 100%;
    background-color: var(--pageBackground);
  
    // .sidenav {
    //   width: 250px;
    // }

    .sidepanel {
      width: 70%;
      border-radius: 10px;

      @media (max-width: $media-query-sm) {
        width: 90%;
      }
    }
  
    mat-sidenav-content {
      .app-container {
        width: 100%;
        margin: 0 auto;

        @media (max-width: $media-query-sm) {
          flex-direction: column;
          width: 100%;
        }

        .content-container {
          display: flex;

          .page-sidenav {
            width: $sidenav-width;

            @media (max-width: $media-query-sm) {
              display: none;
            }
          }

          .page-container {
            width: calc(100% - #{$sidenav-width});
            margin-top: $header-height; // for the header's placeholder
            // margin-left: 250px; // for the navbar's placeholder
            color: var(--headerColor);

            @media (max-width: $media-query-sm) {
              margin-left: 0;
              width: 100%;
            }

            .loading-overlay {
              background-color: rgba(255,255,255, 0.7);
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 12;
              transition: all .25s ease-in-out;
              opacity: 0;
              visibility: hidden;
              margin-top: $header-height;
        
              &.show {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          .auth-off {
            margin-top: 0; // reset for the header's placeholder
            margin-left: 0; // reset for the navbar's placeholder
          }
        }
      }
    }
  }
}
