<mat-sidenav-container >
  <mat-sidenav #sidenav role="navigation" class="sidenav">
    test1
  </mat-sidenav>

  <mat-sidenav #quickpanel position="end" mode="over" class="quickpanel">
    test2
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-container">
      <app-header (sidenavToggle)="sidenav.toggle()" [quickpanel]="quickpanel" ></app-header>
    
      <main class="page-container">
        <router-outlet> </router-outlet>
      </main>
   </div>
  </mat-sidenav-content>
</mat-sidenav-container>