<mat-sidenav-container >
  <mat-sidenav #sidenav role="navigation" class="sidenav">
    <app-mobilenav (closeSidenav)="sidenav.close()"></app-mobilenav>
    <!-- <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-container">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <!-- <app-mobile-nav></app-mobile-nav> -->
      <div class="content-container">
          <div class="page-sidenav" *ngIf="isAuthenticated">
             <app-sidenav></app-sidenav>
          </div>
          <main class="page-container" [ngClass]="{'auth-off':!isAuthenticated}">
            <router-outlet></router-outlet>
          </main>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>