@import '../styles/variables';

:host { 
  mat-sidenav-container {
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    // background-image: url(https://s3.eu-central-1.amazonaws.com/motionizefootball/Dashboard_images/background/pm-background14.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: 50%;
  
    .sidenav {
      width: 250px;
      // background: rgb(177, 177, 177);
    }

    .quickpanel {
      width: 250px;
      // background: rgb(177, 177, 177);
    }
  
    mat-sidenav-content {

      .app-container {
        width: 100%;
        margin: 0 auto;

        @media (max-width: $media-query-xs) {
          flex-direction: column;
          width: 100%;
        }

        .content-container {
          display: flex;

          .page-sidenav {
            @media (max-width: $media-query-xs) {
              display: none;
            }

            app-sidenav {
              // width: 20%;
              // background-color: rgb(102, 102, 102);
              // height: 100vh;
            }
          }

          .page-container {
            width: 100%;
            margin-top: 64px; // for the header's placeholder
            margin-left: 250px; // for the navbar's placeholder

            @media (max-width: $media-query-xs) {
              // margin-top: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
