@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '~@angular/material/theming';

.reset-password-container {
    
    .form-container {
      // width: 300px;
      // min-width: 300px;
      margin: 0 auto;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-spinner {
        margin: auto;
      }

      mat-form-field {
        width: 100%;
      }

      .login-button {
        width: 100%;
        margin-top: 8px;
        border-radius: 20px;
        background-color: $color-pink;
        color: white;
        // @include card;
      }
    }
    
    .user-login {
      margin-top: 20px;
    }

    .forgot-pass {
      margin-top: 20px;
    }
  }