<div class="reset-password-container">
    <div class="login-head">
        <h3>{{ 'auth.reset-password.title' | translate }}</h3>
        <p>{{ 'auth.reset-password.sub-title' | translate }}</p>
    </div>
    <div class="form-container">
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <form [formGroup]="resetPasswordFormGroup" (submit)="onResetPassword()">
            <div [formGroup]="passwordFormGroup">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ 'auth.enter-password' | translate }}</mat-label>
                        <input matInput id="password2" class="form-control" type="password" name="password" formControlName="password" showHideInput>
                        <i class="material-icons" matSuffix showHideTrigger="password2" [showHideStatus]="{ materialIcon: true, id: 'password2' }"></i>
                        <!-- <mat-error *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">{{ 'auth.repeat-password-is-required-error' | translate }}</mat-error>
                        <mat-error *ngIf="passwordFormGroup.errors?.doesMatchPassword">{{ 'auth.password-does-not-match-error' | translate }}</mat-error> -->
                        <mat-error *ngIf="passwordFormGroup.get('password').invalid">{{ 'auth.invalid-email' | translate }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ 'auth.repeat-password' | translate }}</mat-label>
                        <input matInput id="password3" class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword" showHideInput>
                        <i class="material-icons" matSuffix showHideTrigger="password3" [showHideStatus]="{ materialIcon: true, id: 'password3' }"></i>
                        <!-- <mat-error *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">{{ 'auth.repeat-password-is-required-error' | translate }}</mat-error>
                        <mat-error *ngIf="passwordFormGroup.errors?.doesMatchPassword">{{ 'auth.password-does-not-match-error' | translate }}</mat-error> -->
                        <!-- <mat-error *ngIf="passwordFormGroup.errors && passwordFormGroup.errors['doesMatchPassword']">{{ 'auth.password-does-not-match-error' | translate }}</mat-error> -->
                        <mat-error *ngIf="passwordFormGroup.get('password').invalid">{{ 'auth.invalid-email' | translate }}</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="form-group">
                <button *ngIf="!isLoading" color="primary" class="login-button" type="submit" [disabled]="!resetPasswordFormGroup.valid" mat-raised-button>{{ 'auth.reset-password.reset-password' | translate }}</button>
            </div>
        </form>
    </div>
    <div class="auth-links">
        <a (click)="loginMode('user-login')">
            <mat-icon>arrow_back</mat-icon> {{ 'auth.go-back-to-login-link' | translate }}
        </a>
    </div>
</div>
