<div class="reset-password-container">
    <div class="login-head">
        <h3>{{ 'auth.reset-password.title' | translate }}</h3>
        <p>{{ 'auth.reset-password.sub-title' | translate }}</p>
    </div>
    <div class="form-container">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        
        <form [formGroup]="resetPassworForm" (submit)="onResetPassword()" *ngIf="!isLoading" class="">
            <mat-form-field>
                <mat-label>{{ 'auth.reset-password.new-password' | translate }}</mat-label>
                <input id="password2"matInput type="password" formControlName="passwordText" showHideInput>
                <i class="material-icons" matSuffix showHideTrigger="password2" 
                [showHideStatus]="{ materialIcon: true, id: 'password2' }"></i>
                <mat-error *ngIf="resetPassworForm.get('passwordText').invalid">{{ 'auth.invalid-username-or-email' | translate }}</mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>{{ 'auth.reset-password.new-password' | translate }}</mat-label>
                <input id="password3"matInput type="password" formControlName="reEnterPasswordText" showHideInput>
                <i class="material-icons" matSuffix showHideTrigger="password3" 
                [showHideStatus]="{ materialIcon: true, id: 'password3' }"></i>
                <mat-error *ngIf="resetPassworForm.get('reEnterPasswordText').invalid">{{ 'auth.incorrect-password' | translate }}</mat-error>
            </mat-form-field>
        
            <button color="primary" class="login-button" *ngIf="!isLoading" type="submit" mat-raised-button>{{ 'auth.reset-password.reset-password' | translate }}</button>
        </form>
    </div>
    <div class="auth-links">
        <a (click)="loginMode('user-login')">
            <mat-icon>arrow_back</mat-icon> {{ 'auth.go-back-to-login-link' | translate }}
        </a>
    </div>
</div>
