@import '../../../styles/variables';

:host { 
    .footer-container {
        background-color: var(--headerBackground);
        color: var(--headerColor);
        z-index: 20;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;

        @media (max-width: $media-query-sm) {
            display: block;
        }

        .active {
            color: $color-pink;
        }

        .nav-buttons-container {
            display: flex;
            font-size: 12px;
            justify-content: space-around;
            
            a {
                width: 20%;
                text-decoration: none;
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                padding-bottom: 15px;

                .nav-caption {
                    text-decoration: none;
                }
            }
        }
    }
}