<div class="match-overview-container" *ngIf="stepMatchOverviewData">
  <div class="title">
    <h3>match overview</h3>
  </div>

  <div class="match-date">{{moment(stepMatchOverviewData.startTime).format('DD/MM/YYYY')}}</div>

  <button
    mat-button
    [matMenuTriggerFor]="menu"
    class="match-competition dropdown-btn"
  >
    {{ teamEventValidationService.getCompetitionNameById(dataManager.selectedCompetition)?.name || 'Competition' }}

    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8">
      <defs>
        <filter id="a">
          <feFlood flood-color="#35083A" flood-opacity="1" result="floodOut" />
          <feComposite
            in="floodOut"
            in2="SourceGraphic"
            operator="atop"
            result="compOut"
          />
          <feBlend in="compOut" in2="SourceGraphic" />
        </filter>
      </defs>
      <path
        fill="#35083A"
        fill-rule="evenodd"
        d="M.316 1.862l.003-.002A1.063 1.063 0 0 1 0 1.111C0 .498.538 0 1.2 0c.35 0 .663.141.881.362L2.085.36 7 5.244 11.916.36l.003.002C12.138.141 12.45 0 12.8 0c.663 0 1.2.498 1.2 1.111 0 .289-.122.551-.318.749l.003.002-5.8 5.778A1.25 1.25 0 0 1 7 8c-.337 0-.657-.131-.884-.36l-5.8-5.778z"
        filter="url(#a)"
      />
    </svg>
  </button>
  <div class="match-overview">
    <div class="home-team-container match-overview-inner-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/hif/f/ff/Manchester_United_FC_crest.png"
        alt="team-logo"
        class="team-logo"
      />
      <div class="team-name">Hull City</div>
    </div>

    <div class="match-details-container match-overview-inner-container">
      <mat-menu #menu="matMenu" class="">
        <button
          mat-menu-item
          *ngFor="let competition of competitionOptions; let cardIndex = index"
          (click)="setGameData(+competition.id,'selectedCompetition', 'competition')">
          {{ competition.name }}
        </button>
      </mat-menu>
      <!-- <pm-content-dropdown [options]="competitionOptions" (optionClicked)="setGameData($event.value, 'selectedCompetition', 'competition')" [pointy]="true">
        <div class="match-competition dropdown-btn" dropdown-button>
          {{dataManager.selectedCompetition || 'competition'}}

          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8">
            <defs>
                <filter id="a">
                    <feFlood flood-color="#35083A" flood-opacity="1" result="floodOut"/>
                    <feComposite in="floodOut" in2="SourceGraphic" operator="atop" result="compOut"/>
                    <feBlend in="compOut" in2="SourceGraphic"/>
                </filter>
            </defs>
            <path fill="#35083A" fill-rule="evenodd" d="M.316 1.862l.003-.002A1.063 1.063 0 0 1 0 1.111C0 .498.538 0 1.2 0c.35 0 .663.141.881.362L2.085.36 7 5.244 11.916.36l.003.002C12.138.141 12.45 0 12.8 0c.663 0 1.2.498 1.2 1.111 0 .289-.122.551-.318.749l.003.002-5.8 5.778A1.25 1.25 0 0 1 7 8c-.337 0-.657-.131-.884-.36l-5.8-5.778z" filter="url(#a)"/>
          </svg>

        </div>
      </pm-content-dropdown> -->
      <div class="match-host">
        <mat-radio-group
          aria-labelledby="radio-group-label"
          class="radio-group"
          (change)="setGameData($event.value, 'selecedHost', 'vanue')"
          (optionClicked)="setGameData($event.value, 'selectedCompetition', 'competition')"
        >
          <mat-radio-button
            [value]="1"
            style="margin-right: 40px;"
            [checked]="stepMatchOverviewData.vanue === 1"
          >
            Home
          </mat-radio-button>
          <mat-radio-button [value]="2" [checked]="stepMatchOverviewData.vanue === 2">
            Away
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="match-score"
      restrictionContainer
      [showError]="true"
      [errorMassage]="'please enter a valid score'">
        <input
          (input)="updateScore($event.target.value, 'HOME')"
          type="number"
          min="0"
          max="99"
          class="score-box"
          placeholder="0"
        /><span style="margin: 0 20px">:</span
        ><input
          (input)="updateScore($event.target.value, 'AWAY')"
          placeholder="0"
          type="number"
          min="0"
          max="99"
          class="score-box"
        />
      </div>
    </div>

    <div class="away-team-container match-overview-inner-container">

      <svg
        class="team-logo"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-20 -12.5 120 120"
      >
        <path
          fill="#35083A"
          fill-rule="evenodd"
          d="M40.013 96.996l-.533-.275C26.335 89.934 16.355 79.378 9.817 65.344 2.985 50.679-.315 31.711.008 8.965l.016-1.088L39.659 0l41.339 8.093-.019 1.125c-.421 27.513-4.422 47.937-12.232 62.433-6.42 11.916-15.372 19.899-28.177 25.12l-.557.225zM14 66c3.012 5.421 4.311 13.489 26.143 28.048 18.343-7.645 37.03-23.838 38.175-83.747L14 66z"
        />
      </svg>

      <input
        class="opponent-input"
        type="text"
        placeholder="Opponent"
        (blur)="setGameData($event.target.value,'selectedOpponent' ,'opponentName')"
      />
      <!-- <div class="team-name dropdown-btn">
        Opponent
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8">
          <defs>
              <filter id="a">
                  <feFlood flood-color="#35083A" flood-opacity="1" result="floodOut"/>
                  <feComposite in="floodOut" in2="SourceGraphic" operator="atop" result="compOut"/>
                  <feBlend in="compOut" in2="SourceGraphic"/>
              </filter>
          </defs>
          <path fill="#35083A" fill-rule="evenodd" d="M.316 1.862l.003-.002A1.063 1.063 0 0 1 0 1.111C0 .498.538 0 1.2 0c.35 0 .663.141.881.362L2.085.36 7 5.244 11.916.36l.003.002C12.138.141 12.45 0 12.8 0c.663 0 1.2.498 1.2 1.111 0 .289-.122.551-.318.749l.003.002-5.8 5.778A1.25 1.25 0 0 1 7 8c-.337 0-.657-.131-.884-.36l-5.8-5.778z" filter="url(#a)"/>
        </svg>
      </div> -->
    </div>
  </div>
</div>
