<div class="container">
  <swiper
    class="swiper-container container"
    [config]="config"
    [(index)]="index"
  >
    <div class="card" *ngFor="let phase of cards; let index = index">
      <app-phases-card
        [phase]="phase"
        [phasesCount]="cards.length"
        [index]="index"
        (savePhaseChanges)="updatePhase($event)"
        (deleteCard)="onDeleteCard($event)"
      ></app-phases-card>
    </div>

    <app-phases-card
    [phase]="addEmptyCard()"
    [phasesCount]="cards.length"
    (savePhaseChanges)="updatePhase($event)"
  ></app-phases-card>
  </swiper>
</div>
