
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    .tags-container {
        text-align: center;

        .title {
			@include team-event-section-title;
		}

        .mat-form-field {
            width: 600px;

            @media (max-width: $media-query-sm) {
                width: 100%;
            }

            mat-chip {
                background-color: #35083a;
                color: #fff;
                font-size: 18px;
                text-transform: capitalize;
            }

            mat-icon {
             background-color: #35083a;
             color: #fff;
            }
        }

        button {
            display: block;
            margin: 0 auto;
        }
    }
}

::ng-deep {
  .cdk-overlay-pane {
    max-width: none !important;
  }

  // .mat-chip {
  //   text-transform: capitalize;
  // }
}

