@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  width: 32%;

  @media (max-width: $media-query-sm) {
    width: 100%;
  }

  mat-card {
    @include card;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $media-query-sm) {
      // width: 96%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    mat-card-header {
      .leader-board-header {
        h3 {
          font-size: 13px;
        }
      }
    }

    mat-card-content {
      .leader-board-content {

      }
    }
  }
}
