<bullet-list-content-loader *ngIf="false" [primaryColor]="'#aaaaaa'"></bullet-list-content-loader>

<div *ngIf="true">
    <div class="leader-board-header">
        <h3>Toches (# / min)</h3>
    </div>
    
    <div class="leader-board-content">
        <app-leader-board-row></app-leader-board-row>
        <app-leader-board-row></app-leader-board-row>
        <app-leader-board-row></app-leader-board-row>
        <app-leader-board-row></app-leader-board-row>
        <app-leader-board-row></app-leader-board-row>
    </div>
    
</div>
