@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  @include card;
  width: 33%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $media-query-sm) {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .leader-board-header {
    h3 {
      font-size: 13px;
    }

  }

  .leader-board-content {

  }
}
