<div class="modal-container">
	<div class="dialog-header">
		<button mat-icon-button>
			<i class="demo-icon icon-x" (click)="onCancel()">&#xe828;</i>
		</button>
		<h2>Contact Support</h2>
		<span></span>
	</div>
	<div class="dialog-content">
		<form [formGroup]="contactSupportFormGroup" (submit)="onSubmit()">
            <mat-form-field>
                <mat-label>subject</mat-label>
                <input matInput type="text" formControlName="subjectText">
			</mat-form-field>
            <mat-form-field>
				<mat-label>message</mat-label>
				<textarea rows="5" required matInput placeholder="Youre message" formControlName="messageText"></textarea>
			</mat-form-field>
			<button [disabled]="!contactSupportFormGroup.valid" type="submit" mat-raised-button>
                send
            </button>
		</form>
	</div>
</div>