<div class="forgot-password-container">
    <div class="login-head">
        <h3>Forgot Your Password?</h3>
        <p>
            Enter your e-mail address below to revieve a <br>verification email and reset your account:
        </p>
    </div>
    <div  class="form-container">
        <mat-card class="forgot-password-card">
            <mat-card-content>
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
            
                    <form [formGroup]="forgotPasswordForm" (submit)="onForgotPassword()" *ngIf="!isLoading" class="">
                        <mat-form-field>
                            <mat-label>EMAIL ADDRESS</mat-label>
                            <input matInput type="text" formControlName="usernameText">
                            <mat-error *ngIf="forgotPasswordForm.get('usernameText').invalid">Invalid username or email</mat-error>
                        </mat-form-field>
                    
                        <button class="login-button" *ngIf="!isLoading" type="submit" mat-raised-button color="accent">SEND VERIFICATION EMAIL</button>
                    </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="user-login">
        <a (click)="loginMode('user-login')"><< Go back to login</a>
    </div>
</div>
