<div class="forgot-password-container">
    <div class="login-head">
        <h3>{{ 'auth.forgot-password.title' | translate }}</h3>
        <p>{{ 'auth.forgot-password.sub-title' | translate }}</p>
    </div>

    <div class="form-container">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
            
        <form [formGroup]="forgotPasswordFormGroup" (submit)="onForgotPassword()" *ngIf="!isLoading">
            <mat-form-field>
                <mat-label>{{ 'auth.enter-email-address' | translate }}</mat-label>
                <input matInput type="email" formControlName="emailText">
                <mat-error *ngIf="forgotPasswordFormGroup.get('emailText').invalid">{{ 'auth.invalid-email' | translate }}</mat-error>
            </mat-form-field>
        
            <button color="primary" class="login-button" *ngIf="!isLoading" type="submit" mat-raised-button>{{ 'auth.forgot-password.send-verification-email' | translate }}</button>
        </form>
    </div>

    <div class="auth-links">
        <a (click)="loginMode('user-login')">
            <mat-icon>arrow_back</mat-icon> {{ 'auth.go-back-to-login-link' | translate }}
        </a>
    </div>
</div>
