<div class="modal-container">
  <div class="dialog-header">
      <button mat-icon-button>
          <i class="demo-icon icon-x" (click)="close()">&#xe828;</i>
      </button>
      <div class="phases-counter">
        (Phase {{ data.index + 1 }} of {{ data.phasesCount }})
      </div>
      <div class="phase-options">
        <mat-radio-group class="radio-group">
          <mat-radio-button
            *ngFor="let option of modalOptions; let first = first"
            [value]="option"
            [ngStyle]="{ 'margin-left': !first ? '75px' : '0' }"
            (change)="onUpdateField({value: option.subType, filedPathToUpdate: ['subType']})"
            [checked]="(phaseToEdit.subType === 7 && option.subType === 7) || (phaseToEdit.subType !== 5 && !option.subType)"
          > <!-- [checked]="phaseToEdit.subType === option.subType" -->

          <i class="demo-icon icon-calender" *ngIf="option.type === 5">&#xe809;</i>
          <i class="demo-icon icon-vlc-new" *ngIf="option.type === 6">&#xe817;</i>
          {{ option.name }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="phase-duration">
      <app-simple-time-picker
        [propName]="'startTime'"
        [maxPropName]="'endTime'"
        [(range)]="phaseToEdit"
        (updateTime)="updateTime($event, 'startTime');setPhaseDurationTotal();">
      </app-simple-time-picker>
      <app-simple-time-picker
        [propName]="'endTime'"
        [maxPropName]="'startTime'"
        [(range)]="phaseToEdit"
        (updateTime)="updateTime($event, 'endTime');setPhaseDurationTotal();">
      </app-simple-time-picker>
        <div class="phase-duration-total">({{ setPhaseDurationTotal() }})</div>
      </div>
      <mat-error *ngIf="durationError">{{durationError}}</mat-error>
  </div>

  <div class="dialog-content">
    <app-match-phase-modal
      *ngIf="phaseToEdit.type === 5"
      [phase]="data.phase"
      [selectedLineup]="phaseToEdit.lineup || {}"
      (updateField)="onUpdateField($event)"
    ></app-match-phase-modal>

    <app-warmup-modal
      *ngIf="phaseToEdit.type === 4"
      [phase]="data.phase"
      [selectedLineup]="phaseToEdit.lineup || {}"
      (updateField)="onUpdateField($event)"
    ></app-warmup-modal>

    <app-physical-modal
      *ngIf="phaseToEdit.type === 1"
      [phase]="data.phase"
      [selectedLineup]="phaseToEdit.lineup || {}"
      (updateField)="onUpdateField($event)"
    ></app-physical-modal>

    <app-technical-modal
      *ngIf="phaseToEdit.type === 3"
      [phase]="data.phase"
      [selectedLineup]="phaseToEdit.lineup || {}"
      (updateField)="onUpdateField($event)"
    ></app-technical-modal>
  </div>

  <div class="dialog-footer">
      <div mat-dialog-actions>
          <button (click)="savePhase()" mat-raised-button>save phase</button>
      </div>
  </div>
</div>
