<div class="teams-menu-container">
    <mat-form-field class="teams-menu">
        <mat-select [(value)]="defaultTeam" (selectionChange)="selectedTeam($event.value)">
          <mat-option *ngFor="let team of teamsList" [value]="team.value">
            <img style="vertical-align:middle; margin-right: 4px; width: 30px; height: 30px;" src="https://s3.eu-west-2.amazonaws.com/playermaker-user-images/public/1562149029.png" height="16"/>
            <span>{{team.viewValue}}</span>
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>