<div class="match-validation-container">
	<div *ngIf="isLoading || !step1Data" class="loader-container">
        <mat-spinner></mat-spinner>
    </div>
	<mat-horizontal-stepper [disableRipple]="true" [linear]="true" *ngIf="!isLoading && step1Data"  (selectionChange)="onStepChange($event)" #stepper>
		<mat-step *ngFor="let step of steps; let i = index" [completed]="step.isCompleted">
			<ng-template matStepLabel>
				<div [ngClass]="{'stpper-bold-label': step.id === currentStep}">
					{{step.name}}
				</div>
			</ng-template>
			<app-step-match-overview
				*ngIf="step.name === 'OVERVIEW' && step1Data"
				[teamEventId]="matchId"
				[stepMatchOverviewData]="step1Data"
				(stepSelectionEmitter)="onStepSelectionEmitter($event, step, stepper)">
			</app-step-match-overview>
			<app-step-match-players
				*ngIf="step.name === 'PLAYERS' && step2Data"
				[teamEventId]="matchId"
				[stepMatchPlayersData]="step2Data"
				(stepSelectionEmitter)="onStepSelectionEmitter($event, step, stepper)">
			</app-step-match-players>
			<app-step-match-formations
				*ngIf="step.name === 'FORMATIONS' && step3Data?.formation"
				(onValidate)="validateStep($event, 2)"
				[stepMatchFormationsData]="step3Data"
				(stepSelectionEmitter)="onStepSelectionEmitter($event, step, stepper)">
			</app-step-match-formations>
			<app-step-match-phases
				*ngIf="step.name === 'PHASES' && step4Data"
				[stepMatchPhasesData]="step4Data"
				(stepSelectionEmitter)="onStepSelectionEmitter($event, step, stepper)">
			</app-step-match-phases>
			<app-step-match-subs
				*ngIf="step.name === 'SUBS' && step5Data && currentStep === step.id"
				[stepMatchSubsData]="step5Data"
				(stepSelectionEmitter)="onStepSelectionEmitter($event, step, stepper)">
			</app-step-match-subs>
		</mat-step>
	</mat-horizontal-stepper>
	<div class="step-footer" *ngIf="!isLoading && step1Data">
        <button class="step-back-btn" mat-button (click)="previousStep()" *ngIf="currentStep !== 0">back</button>
		<button class="step-submit-btn" mat-raised-button (click)="nextStep()" [disabled]="!stepValidation[currentStep]">
			{{steps[currentStep].isLastStep ? 'Validate' : 'Next'}}
		</button>
    </div>
</div>
