<mat-form-field [appearance]="appearance" style="margin-bottom: -0.75em" [style.width]="dropdownWidth ? dropdownWidth : '120px'">
    <div class="dropdown-container">
        <img [src]="selectedItemImgPath" style="vertical-align: middle; margin-right: 8px; width: 20px; height: 20px; border-radius: 50%;" />
     
        <mat-select [(value)]="defaultItem" (selectionChange)="useCurrentSelection($event.id)">
            <mat-option *ngFor="let item of items" [value]="item.id">
                <img [src]="item.teamPicture" style="vertical-align: middle; margin-right: 8px; width: 18px; height: 18px; border-radius: 50%;" />
                <span>({{ item.seasonName }}) - {{ item.clubName }}{{ item.teamName }}</span>
            </mat-option>
        </mat-select>
    </div>
</mat-form-field>
