/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'styles/player-maker-theme.scss';
@import 'styles/variables';
@import 'styles/functions';
@import "styles/init-spinner";

html,body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  background-color: #e8e8e8;
}

a {
  color: black;
  // transition: .5s;

  // &:hover {
  //   color: black;
  // }

  // &:visited {
  //   color: black;
  // }
}

.restriction-container {

  .errorMassage {
    font-size: 12px;
    color: #c07e7e;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 10px;
  }
}

::selection {
  color: #fff;
  background-color: $color-purple;
}

.mat-radio-label-content { // for material radio buttons
  display: flex !important;
  align-items: center !important;

  .mat-icon {
    margin-right: 5px !important;
  }
}


// icons fonts related
@font-face {
  font-family: 'pm';
  src: url('./assets/css/pm-icons/font/pm.eot?78134735');
  src: url('./assets/css/pm-icons/font/pm.eot?78134735#iefix') format('embedded-opentype'),
       url('./assets/css/pm-icons/font/pm.woff?78134735') format('woff'),
       url('./assets/css/pm-icons/font/pm.ttf?78134735') format('truetype'),
       url('./assets/css/pm-icons/font/pm.svg?78134735#pm') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon {
  font-family: "pm";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
