@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    .settings-container {
        mat-card {
            @include card;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;

            mat-card-content {
                display: flex;
                flex-direction: column;
    
                .mat-radio-button ~ .mat-radio-button {
                    margin-left: 16px;
                }
            }
        }
    }
}