<div class="step-match-phases-container">
	<app-speed-graph
		*ngIf="verticesData"
		[vertices]="verticesData.velInterpMs"
		[highlightedRange]="highlightedRange"
		[timeDuration]="verticesData.timeDtMs"
		[startTime]="verticesData.startTimeInterpMs"
		[plotBands]="plotBands"></app-speed-graph>
    <app-phases-cards-container [cards]="stepMatchPhasesData?.phasesList" (updatePhases)="onUpdatePhases($event)" (teamEventPhasesEmitter)="onMatchPhasesEmitter($event)"></app-phases-cards-container>
    <div class="step-footer">
        <button class="step-back-btn" mat-button  (click)="previousStep()">back</button>
        <button class="step-submit-btn" mat-raised-button (click)="nextStep()">next</button>
    </div>
</div>
