<div class="step-match-phases-container">
	<div class="title">
		<h3>Match Phases</h3>
		<p>Define and manage the phases in this match</p>
	</div>

	<app-speed-graph
		*ngIf="verticesData"
		[vertices]="verticesData.velInterpMs"
		[highlightedRange]="highlightedRange"
		[timeDuration]="verticesData.timeDtMs"
		[startTime]="verticesData.startTimeInterpMs"
		[plotBands]="plotBands"></app-speed-graph>
    <app-phases-cards-container (teamEventPhasesEmitter)="onMatchPhasesEmitter($event)" [cards]="stepMatchPhasesData?.phasesList"></app-phases-cards-container>
</div>
