<div class="step-match-phases-container">
    <app-speed-graph
      [vertices]="verticesData.vel_interp_ms"
      [highlightedRange]="highlightedRange"
      [timeDuration]="verticesData.time_dt_ms"
      [startTime]="verticesData.start_time_interp_ms"
      [plotBands]="plotBands">
  </app-speed-graph>
  <app-phases-cards-container [cards]="stepMatchPhasesData?.phasesList"></app-phases-cards-container>
  <div class="step-footer">
      <button class="step-back-btn" mat-button (click)="backStep()">back</button>
      <button class="step-submit-btn" mat-raised-button (click)="nextStep()">next</button>
  </div>
</div>
