@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    .step-match-phases-container {
        @include team-event-step;

        .title {
            @include team-event-section-title;
        }
    }
}