<p>theme-picker works!</p>

<!-- CONFIG COLORS MANUALLY -->
<div class="theme">
    <form [formGroup]="form" (submit)="onSubmitTheme()" class="">
        <label>Set Navigation Font Color: </label>
        <input formControlName="navColor" name="globalNavColor" type="color"  />
        <br />

        <label>Set Navigation Background Color: </label>
        <input formControlName="navBackground" name="globalNavBackground" type="color"  />
        <br />

        <label>Set Card Font Color: </label>
        <input formControlName="cardColor" name="globalCardColor" type="color"  />
        <br />

        <label>Set Card Background Color:</label>
        <input formControlName="cardBackground" name="globalCardBackground" type="color"  />
        <br />

        <label>Set Button Font Color: </label>
        <input formControlName="buttonColor" name="globalButtonColor" type="color"  />
        <br />

        <label>Set Button Background Color:</label>
        <input formControlName="buttonBackground" name="globalButtonBackground" type="color" />
        <br />

        <label>Set Footer Font Color: </label>
        <input formControlName="footerColor" name="globalFooterColor" type="color"/>
        <br />

        <label>Set Footer Background Color: </label>
        <input formControlName="footerBackground" name="globalFooterBackground" type="color" />
        <br />

        <button type="submit" mat-raised-button color="accent">Submit</button>
    </form>
</div>