@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    .step-match-subs-container {
        @include team-event-step;
    }
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #3d4762;
  text-align: center;
}
