.container {
	display: grid;
	grid-auto-flow: column;
	font-size: 18px;
	align-items: center;
	grid-template-columns: 50px 115px;
	grid-gap: 10px;

	.label {
		color: #96a1ae;
		font-weight: normal;
	}

	.time-input {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		border: solid 1px #e1e0e1;
		height: 53px;

		input {
			color: #3d4762;
			font-family: monospace;
			font-weight: 500;

			&::-webkit-clear-button {
				display: none;
			}
		}
	}
}